<div class="menuTab-page" data-page="calendar">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="card">
                <div class="card-header"></div>
                <div class="card-content">
                    <div class="card-content-inner">

                        <p>这是日历</p>

                        <div class="sg-calendar"></div>

                        <button class="btn btn-default ripple-effect">点击波纹</button>
                        <button class="btn btn-primary ripple-effect">点击波纹</button>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>