<div class="menuTab-page" data-page="gallary">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

            <div class="card">
                <div class="card-header"></div>
                <div class="card-content">
                    <div class="card-content-inner">
                        <div class="container3D slide">
                            <div class="wrapper3D">
                                <div class="slide3D">
                                    <img src="components/slide/images/image-slider-1.jpg" alt=""/>
                                </div>
                                <div class="slide3D">
                                    <img src="components/slide/images/image-slider-2.jpg" alt=""/>
                                </div>
                                <div class="slide3D">
                                    <img src="components/slide/images/image-slider-3.jpg" alt=""/>
                                </div>
                                <div class="slide3D">
                                    <img src="components/slide/images/image-slider-4.jpg" alt=""/>
                                </div>
                                <div class="slide3D">
                                    <img src="components/slide/images/image-slider-5.jpg" alt=""/>
                                </div>
                            </div>
                            <div class="slide3D-pagination"></div>
                            <div class="slide3D-prev-button"></div>
                            <div class="slide3D-next-button"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>