@charset "UTF-8";

// 弹出部分
.k-picker-panel {
  @include shadow('modal');
  color: $text;
  border: 1px solid $datepicker-border-color;
  background: $white;
  border-radius: $radius;
  line-height: 30px;

  &__body, &__body-wrapper {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  &__content {
    position: relative;
    margin: 15px;
  }

  &__footer {
    border-top: 1px solid $datepicker-inner-border-color;
    padding: 4px;
    text-align: right;
    background-color: $white;
    position: relative;
  }

  /** 快捷选项 */
  &__shortcut {
    display: block;
    width: 100%;
    border: 0;
    background-color: transparent;
    line-height: 28px;
    font-size: 14px;
    color: $datepicker-color;
    padding-left: 12px;
    text-align: left;
    outline: none;
    cursor: pointer;
    &:hover {
      color: $datepicker-text-hover-color;
    }
    &.active {
      background-color: #e6f1fe;
      color: $datepicker-active-color;
    }
  }

  &__btn {
    border: 1px solid #dcdcdc;
    color: #333;
    line-height: 24px;
    border-radius: 2px;
    padding: 0 20px;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    font-size: 12px;
    &[disabled] {
      color: #cccccc;
      cursor: not-allowed;
    }
  }

  &__icon-btn {
    width: 24px;
    font-size: 18px;
    color: $datepicker-icon-color;
    border: 0;
    background: transparent;
    cursor: pointer;
    outline: none;
    &:hover {
      color: $datepicker-text-hover-color;
    }
  }

  &__link-btn {
    cursor: pointer;
    color: $primary;
    text-decoration: none;
    padding: 15px;
    font-size: 12px;
  }

  //.popper__arrow {
  //  transform: translateX(-400%);
  //}
}

.k-picker-panel *[slot=sidebar],
.k-picker-panel__sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 110px;
  border-right: 1px solid $datepicker-inner-border-color;
  box-sizing: border-box;
  padding-top: 6px;
  background-color: $white;
  overflow: auto;
}

.k-picker-panel *[slot=sidebar] + .k-picker-panel__body,
.k-picker-panel__sidebar + .k-picker-panel__body {
  margin-left: 110px;
}
