<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>纯CSS3炫酷全屏3D立方体旋转展示幻灯片特效</title>
    <link href="https://cdn.bootcss.com/normalize/7.0.0/normalize.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="css/default.css">-->
    <link rel="stylesheet" href="/scss/components/3d-slider/skin.css">
    <!--[if IE]>
        <script src="https://cdn.staticfile.org/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="buttons-wrapper">

    <input id="slide1" type="radio" name="slider" checked>
    <input id="slide2" type="radio" name="slider">
    <input id="slide3" type="radio" name="slider">
    <input id="slide4" type="radio" name="slider">

    <ul class="slider">
        <li>

            <div class="caption">
                <h3>Maserati GranTurismo</h3>
                <p>
                    The Maserati GranTurismo is a two-door, four-seat coupé produced by the Italian car manufacturer
                    Maserati. It shares the platform of the Maserati Quattroporte V and parts of the Ferrari 599 GTB and
                    Scaglietti.
                    <a href="#">Maserati GranTurismo</a>
                </p>
            </div>
        </li>
        <li>
            <div class="caption">
                <h3>Ford GT</h3>
                <p>
                    The Nissan GT-R is a 2-door 2+2 sports car produced by Nissan and unveiled in 2007. It is the
                    successor to the Nissan Skyline GT-R although it is no longer part of the Skyline range. Now the
                    Nissan Skyline and the Nissan GT-R are separated.
                    <a href="#">Ford GT</a>
                </p>
            </div>
        </li>
        <li>
            <div class="caption">
                <h3>Mercedes-Benz SLS AMG</h3>
                <p>
                    The exterior aluminum body is supplied by Magna Steyr. This and the CL65 AMG 40th Anniversary
                    Edition are the only roadgoing Mercedes-Benz with the AMG Alubeam Silver paint available, at an
                    extra cost of €11,900 in Germany. Other colors include both metallic as matte colors, such as
                    Designo Magno Kashmir, the matte paint known from the SL63 AMG IWC edition.
                    <a href="#">Mercedes-Benz SLS AMG</a>
                </p>
            </div>
        </li>
        <li>
            <div class="caption">
                <h3>Nissan GTR</h3>
                <p>
                    The Nissan GT-R is a 2-door 2+2 sports car produced by Nissan and unveiled in 2007. It is the
                    successor to the Nissan Skyline GT-R although it is no longer part of the Skyline range. Now the
                    Nissan Skyline and the Nissan GT-R are separated.
                    <a href="#">Nissan GTR</a>
                </p>
            </div>
        </li>
    </ul>

    <label for="slide1"></label>
    <label for="slide2"></label>
    <label for="slide3"></label>
    <label for="slide4"></label>

</div>

<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
</body>
</html>