<div class="menuTab-page" data-page="boxShadow">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-header"></div>
                <div class="card-content">
                    <div class="card-content-inner">
                        <div class="box-shadow shadow">四周阴影</div>
                        <div class="box-shadow shadow-top-left">左上阴影</div>
                        <div class="box-shadow shadow-top-right">右上阴影</div>
                        <div class="box-shadow shadow-bottom-right">右下阴影</div>
                        <div class="box-shadow shadow-bottom-left">左下阴影</div>
                        <div class="box-shadow shadow-top">上单边阴影</div>
                        <div class="box-shadow shadow-right">右单边阴影</div>
                        <div class="box-shadow shadow-bottom">下单边阴影</div>
                        <div class="box-shadow shadow-left">左单边阴影</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>