<div class="menuTab-page" data-page="calendar">

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h5>滤镜</h5>
                </div>
                <div class="card-content">
                    <div class="card-content-inner">
                        <div class="row">
                            <div class="filterBox">
                                <img src="images/1.jpg" class="blur" alt="">
                                <p>模糊（blur）</p>
                            </div>
                            <div class="filterBox">
                                <img src="images/1.jpg" class="grayscale" alt="">
                                <p>灰度（grayscale）</p>
                            </div>
                            <div class="filterBox">
                                <img src="images/1.jpg" class="sepia" alt="">
                                <p>褐色（sepia）</p>
                            </div>
                            <div class="filterBox">
                                <img src="images/1.jpg" class="saturate" alt="">
                                <p>饱和度（saturate）</p>
                            </div>
                            <div class="filterBox">
                                <img src="images/1.jpg" class="hue-rotate" alt="">
                                <p>色相旋转（hue-rotate）</p>
                            </div>
                            <div class="filterBox">
                                <img src="images/1.jpg" class="invert" alt="">
                                <p>反色（invert）</p>
                            </div>
                            <div class="filterBox">
                                <img src="images/1.jpg" class="opacity" alt="">
                                <p>透明度（opacity）</p>
                            </div>
                            <div class="filterBox">
                                <img src="images/1.jpg" class="brightness" alt="">
                                <p>亮度（brightness）</p>
                            </div>
                            <div class="filterBox">
                                <img src="images/1.jpg" class="contrast" alt="">
                                <p>对比度（contrast）</p>
                            </div>
                            <div class="filterBox">
                                <img src="images/1.jpg" class="drop-shadow" alt="">
                                <p>阴影（drop-shadow）</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>