<div class="menuTab-page" data-page="photo">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-header">相册</div>
                <div class="card-content">
                    <div class="card-content-inner">
                        <div class="photo">
                            <div class="highlight-box">
                                <img src="images/1.jpg" alt=""/>
                            </div>
                            <div class="highlight-box">
                                <img src="images/2.jpg" alt=""/>
                            </div>
                            <div class="highlight-box">
                                <img src="images/3.jpg" alt=""/>
                            </div>
                            <div class="highlight-box">
                                <img src="images/1.jpg" alt=""/>
                            </div>
                            <div class="highlight-box">
                                <img src="images/2.jpg" alt=""/>
                            </div>
                            <div class="highlight-box">
                                <img src="images/3.jpg" alt=""/>
                            </div>
                            <div class="highlight-box">
                                <img src="images/1.jpg" alt=""/>
                            </div>
                            <div class="highlight-box">
                                <img src="images/2.jpg" alt=""/>
                            </div>
                            <div class="highlight-box">
                                <img src="images/3.jpg" alt=""/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-header">多形状图片</div>
                <div class="card-content">
                    <div class="card-content-inner">
                        <div class="thumb img-circle">
                            <img src="images/1.jpg" alt=""/>
                        </div>
                        <div class="thumb img-shield">
                            <img src="images/2.jpg" alt=""/>
                        </div>
                        <div class="thumb img-skew">
                            <img src="images/3.jpg" alt=""/>
                        </div>
                        <div class="thumb img-skew2">
                            <img src="images/1.jpg" alt=""/>
                        </div>
                        <div class="thumb img-ellipse">
                            <img src="images/2.jpg" alt=""/>
                        </div>
                        <div class="thumb img-ellipse-half">
                            <img src="images/3.jpg" alt=""/>
                        </div>
                        <div class="thumb img-ellipse-quarter">
                            <img src="images/1.jpg" alt=""/>
                        </div>
                        <div class="thumb img-quarter">
                            <img src="images/2.jpg" alt=""/>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-header">动态的边框</div>
                <div class="card-content">
                    <div class="card-content-inner">
                        <div class="dynamic-border dynamic-border-1">
                            <span></span>
                            <img src="images/1.jpg" alt="">
                        </div>

                        <div class="dynamic-border dynamic-border-2">
                            <span></span>
                            <img src="images/2.jpg" alt="">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-header">遮罩图片</div>
                <div class="card-content">
                    <div class="card-content-inner">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <div class="mask" data-title="遮罩条">
                                    <img src="images/2.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <div class="mask-door" data-title="遮罩条">
                                    <img src="images/3.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>