@import url(https://fonts.googleapis.com/css?family=Wire+One|Life+Savers|Flamenco|Bigelow+Rules|Underdog|Goudy+Bookletter+1911|Nixie+One|Tangerine|Poiret+One|Allura);
body {
    color: #aaaaaa;
    font-family: 'Goudy Bookletter 1911', serif;
    /*background-color: #222;*/
}

div.container {
    text-align: center;
    margin: 0px;
    min-height: 600px;
}


h1 {
    font-size: 64px;
    text-align: center;
    font-weight: 300;
    padding: .5em;
    margin: 0;
}

h2 {
    font-size: 24px;
    text-align: center;
    font-weight: 300;
    margin: 0;
}

body nav {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
    position: relative;
}

ul {
    list-style-type: none;
    margin-left: -40px;
}

li {
    display: inline-block;
}

a {
	color: #aaaaaa;
	text-decoration: none;
}

a:hover {
	color: white;
}

li a {
    display: block;
    font-size: 20px;
    text-align: center;
    padding: 10px 15px;
}

li a:hover {
    transform: rotate(5deg) scale(1.1);
}

li a:hover:before, li a:hover:after{
    transition: all 0.3s ease;
    opacity: 1;
    width: 20px;
}

li a:before, li a:after {
    opacity: 0;
    border-top: 1px solid white;
    content: '';
    display: block;
    position: relative;
    z-index: -1;
    margin: auto;
    width: 0px;
}

li a:before {
    top: 0px;
    transform: rotate(120deg) translateY(-50%) translateX(-50%);
}

li a:after {
    top: 5px;
    transform: rotate(-60deg) translateY(-50%) translateX(-50%);
}