
<label data-bind="css: labelCssObj, click:onClick, clickBubble:clickBubble" role="checkbox" class="k-checkbox">
  <span data-bind="css: labelCssObj" class="k-checkbox__input">
    <span class="k-checkbox__inner">
      <i class="fa fa-check"></i>
    </span>
    <!-- ko if: checkedValue() -->
    <input
      data-bind="hasFocus: hasFocus, checked: checked, disable: disabled, checkedValue: checkedValue, attr: { value: value }"
      type="checkbox" class="k-checkbox__original">
    <!-- /ko -->
    <!-- ko if: !checkedValue() -->
    <input data-bind="hasFocus: hasFocus, checked: checked, disable: disabled, attr: { value: value }"
            type="checkbox" class="k-checkbox__original">
    <!-- /ko -->
  </span> <span data-bind="text: label" class="k-checkbox__label"></span>
</label>
