@charset "UTF-8";
$context: '.app-header';
$nav-user-background-color: $primary;
$nav-user-height: 30px;
$nav-main-height: $heading-height - $nav-user-height; // 70px
$brand-logo-height: 46px;

#{$context} {
  @include shadow;
  @include oldIE {
    border-bottom: 1px solid $border;
  }
  height: $heading-height;
  background-color: $white;
  box-sizing: border-box;

  .button-switch-org {
    @include button-plain;
    line-height: $nav-user-height;
    font-weight: $weight-bold;
  }

  > .nav-user {
    background-color: $nav-user-background-color;
    color: $white;
    font-size: $size-small;
    font-weight: $weight-bold;
    overflow: hidden;
    height: $nav-user-height;
    line-height: $nav-user-height;
    box-sizing: border-box;
    ul > li {
      float: left;
      white-space: nowrap;
      &:last-child {
        margin-right: -4px;
      }
      a {
        @include button-plain;
        display: block;
        padding: 0 4px !important;
        font-weight: $weight-bold;
        line-height: $nav-user-height;
      }
    }
  }
  em {
    font-style: normal;
    color: lighten($nav-user-background-color, 10%);
    line-height: $nav-user-height;
  }

  > .nav-main {
    height: $nav-main-height;
    box-sizing: border-box;
    $gap: 5px;
    .brand-logo {
      $mt: ($nav-main-height - $brand-logo-height)/2;
      width: 238px; // fix width in case of joggle
      img {
        float: left;
        margin-top: $mt + $gap;
        margin-left: -50px;
        height: $brand-logo-height;
        border: none;
      }
      label {
        float: left;
        margin: $mt 0 0 12px;
        height: $brand-logo-height;
        line-height: $brand-logo-height;
        font-size: 24px;
        color: #0075db;
      }
    }

    .app-header-inner {
      > ul > li {
        float: left;
        height: $nav-main-height;
        &:first-child {
          margin-left: -10px;
        }
        &:last-child {
          margin-right: -10px;
        }
        &:hover,
        &.is-active {
          > a {
            color: $primary;
          }
        }
        &.is-active {
          border-bottom: 3px solid $primary;
        }
        > a {
          display: block;
          height: $nav-main-height;
          line-height: $nav-main-height;
          padding: 0 10px;
          font-size: $size-medium;
          color: $text;
          transition: color $easing $speed;
        }

        &:hover {
          .k-select-dropdown {
            display: block;
          }
        }
        .k-select-dropdown {
          min-width: 130px;
        }

        .k-select-dropdown__item {
          height: auto;
          padding: 0;
          a {
            display: block;
            padding: 8px 20px;
            font-size: 15px;
            color: $text;
          }
        }
      }
    }

    .tag-version {
      margin-left: 3px;
      display: inline-block;
    }

  }

  #{$context}-inner {
    @include center-block;
    width: $page-width;
  }
}
