@charset "UTF-8";
$context: '.k-message';

#{$context} {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
  min-width: 300px;
  padding: 10px 12px;
  box-sizing: border-box;
  border-radius: 2px;
  position: fixed;
  left: 50%;
  top: 20px;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  transition: opacity 0.3s, transform .3s;
  overflow: hidden;

  &__icon {
    width: 40px;
    height: 40px;
    position: absolute;
    line-height: 40px !important;
    left: 0;
    top: 0;
  }

  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);
    $color-lightning: max((100% - lightness($color)) - 2%, 0%);
    $color-luminance: colorLuminance($color);
    $darken-percentage: $color-luminance * 70%;
    $desaturate-percentage: $color-luminance * 30%;

    &--#{$name} {
      background-color: $color;
      color: $color-invert;
      #{$context}--close {
        top: 3px;
        right: 0;
        position: absolute;
        cursor: pointer;
        color: $color-invert;
        font-size: $size-5;
      }
    }
  }


  &__group {
    margin-left: 25px;
    padding-right: 15px;
    position: relative;
    height: 20px;
    line-height: 20px;
  }

  &__content {
    font-size: 14px;
    margin: 0 34px 0 0;
    white-space: nowrap;
    color: $text;
  }

  &--fade {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
}
