<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>12种炫酷的CSS3鼠标滑过图片遮罩层动画特效</title>
    <link href="https://cdn.bootcss.com/normalize/7.0.0/normalize.min.css" rel="stylesheet">

    <!--<link rel="stylesheet" href="css/default.css">-->
    <link rel="stylesheet" href="/scss/components/mask/base.css"/>

    <!-- Modrnizr Lib -->
    <!--<script src="libs/modernizr.js"></script>-->
    <!--[if IE]>
    <script src="https://cdn.staticfile.org/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
<article class="htmleaf-container">

    <section class="wrapper cl">
        <!--Effect: Bottom to Top -->
        <div class="pic">
            <img src="/images/mask/01.jpg" class="pic-image" alt="Pic"/>
            <span class="pic-caption bottom-to-top">
		        <h1 class="pic-title">Bottom to Top</h1>
		        <p>Hi, this is a simple example =D</p>
		    </span>
        </div>

        <!--Effect: Top to Bottom -->
        <div class="pic">
            <img src="/images/mask/02.jpg" class="pic-image" alt="Pic"/>
            <span class="pic-caption top-to-bottom">
		        <h1 class="pic-title">Top to Bottom</h1>
		        <p>Hi, this is a simple example =D</p>
		    </span>
        </div>
        <!--Effect: Left to Right -->
        <div class="pic">
            <img src="/images/mask/03.jpg" class="pic-image" alt="Pic"/>
            <span class="pic-caption left-to-right">
		        <h1 class="pic-title">Left to Right</h1>
		        <p>Hi, this is a simple example =D</p>
		    </span>
        </div>

        <!--Effect: Right to Left -->
        <div class="pic">
            <img src="/images/mask/04.jpg" class="pic-image" alt="Pic"/>
            <span class="pic-caption right-to-left">
		        <h1 class="pic-title">Right to Left</h1>
		        <p>Hi, this is a simple example =D</p>
		    </span>
        </div>

        <!--Effect: Rotate More -->
        <div class="pic">
            <img src="/images/mask/05.jpg" class="pic-image" alt="Pic"/>
            <span class="pic-caption rotate-in">
		        <h1 class="pic-title">Rotate In</h1>
		        <p>Hi, this is a simple example =D</p>
		    </span>
        </div>

        <!--Effect: Rotate LESS -->
        <div class="pic">
            <img src="/images/mask/06.jpg" class="pic-image" alt="Pic"/>
            <span class="pic-caption rotate-out">
		        <h1 class="pic-title">Rotate Out</h1>
		        <p>Hi, this is a simple example =D</p>
		    </span>
        </div>

        <!--Effect: Open Up -->
        <div class="pic pic-3d">
            <img src="/images/mask/07.jpg" class="pic-image" alt="Pic"/>
            <span class="pic-caption open-up">
		        <h1 class="pic-title">Open Up</h1>
		        <p>Hi, this is a simple example =D</p>
		    </span>
        </div>

        <!--Effect: Open Down -->
        <div class="pic pic-3d">
            <img src="/images/mask/08.jpg" class="pic-image" alt="Pic"/>
            <span class="pic-caption open-down">
		        <h1 class="pic-title">Open Down</h1>
		        <p>Hi, this is a simple example =D</p>
		    </span>
        </div>

        <!--Effect: Open Left -->
        <div class="pic pic-3d">
            <img src="/images/mask/09.jpg" class="pic-image" alt="Pic"/>
            <span class="pic-caption open-left">
		        <h1 class="pic-title">Open Left</h1>
		        <p>Hi, this is a simple example =D</p>
		    </span>
        </div>

        <!--Effect: Open Right -->
        <div class="pic pic-3d">
            <img src="/images/mask/10.jpg" class="pic-image" alt="Pic"/>
            <span class="pic-caption open-right">
		        <h1 class="pic-title">Open Right</h1>
		        <p>Hi, this is a simple example =D</p>
		    </span>
        </div>

        <!--Effect: Come Left -->
        <div class="pic pic-3d">
            <img src="/images/mask/11.jpg" class="pic-image" alt="Pic"/>
            <span class="pic-caption come-left">
		        <h1 class="pic-title">Come Left</h1>
		        <p>Hi, this is a simple example =D</p>
		    </span>
        </div>

        <!--Effect: Come Right -->
        <div class="pic pic-3d">
            <img src="/images/mask/12.jpg" class="pic-image" alt="Pic"/>
            <span class="pic-caption come-right">
		        <h1 class="pic-title">Come Right</h1>
		        <p>Hi, this is a simple example =D</p>
		    </span>
        </div>
    </section>

</article>

<!-- TOUCH FRIENDLY IN MOBILE DEVICES -->
<script>
    document.addEventListener("touchstart", function () {}, true);
</script>
</body>
</html>