.accordion-item-content {
    position: relative;
    overflow: hidden;
    height: 0;
    font-size: 14px;
    background: #eee;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.accordion-item-toggle {
    position: relative;
    padding-left: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /*-webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;*/
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.accordion-item {
    position: relative;
}

.accordion-item-toggle:after {
    content: "\f3d3";
    position: absolute;
    right: 15px;
    top: 10px;
    font-family: "Ionicons";
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.open .accordion-item-toggle:after {
    content: "\f3d0";
}

.accordion-item-toggle {
    padding: 10px;
    color: #333;
    background: #fff;
    cursor: pointer;
}

.accordion-item-content div {
    padding: 10px;
    border-top: none;
}

.accordion-list ul {
    list-style: none;
}

.accordion-list .accordion-item {
    margin: 0;
}

.accordion-list .accordion-item-toggle {
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.accordion-list .accordion-item-toggle:hover {
    background-color: #eee;
}

.accordion-list .accordion-item:last-child .accordion-item-toggle {
    border: none;
}

.accordion-item.accordion-item-expand .accordion-item-toggle:after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
}