$badge-backgroud: $danger;
$badge-content-color: $danger-invert;
$badge-content-size: $size-7;
$badge-radius: 10px;
$badge-arrow-radius: 4px;
$badge-size: 18px;
$badge-padding: 0 6px;
$badge-dot-size: 8px;

.k-badge {
  position: relative;
  vertical-align: middle;
  display: inline-block;

  &__content {
    display: inline-block;
    background: $badge-backgroud;
    border-radius: $badge-radius;
    color: $badge-content-color;
    font-size: $badge-content-size;
    height: $badge-size;
    line-height: $badge-size;
    text-align: center;
    white-space: nowrap;
    padding: $badge-padding;
    z-index: 10;
  }

  &--arrow {
    .k-badge__content {
      border-radius: $badge-arrow-radius;
      border-bottom-left-radius: 0;
    }
  }

  &--dot {
    .k-badge__content {
      width: $badge-dot-size;
      height: $badge-dot-size;
      padding: 0;
      border-radius: 50%;
    }
  }

  &--fixed {
    .k-badge__content {
      position: absolute;
      top: -$badge-size/2;
      left: 100%;
      margin-left: -10px;
    }

    .k-badge--dot {
      top: -$badge-dot-size/2;
    }
  }

  &__arrow {
    position: absolute;
    left: -5px;
    bottom: 0;
    border-top: 5px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 5px solid $badge-backgroud;
  }
}



