@charset "UTF-8";

$context: '.k-col';

//.k-col {
//  border: 1px solid $danger;
//}

#{$context}-0 {
  width: 0;
}

@for $i from 1 through 24 {
  #{$context}-#{$i} {
    float: left;
    box-sizing: border-box;
    width: calc(1 / 24 * #{$i} * 100) + '%';
  }
  #{$context}-offset-#{$i} {
    margin-left: calc(1 / 24 * #{$i} * 100) + '%';
  }
  #{$context}-pull-#{$i} {
    position: relative;
    right: calc(1 / 24 * #{$i} * 100) + '%';
  }
  #{$context}-push-#{$i} {
    position: relative;
    left: calc(1 / 24 * #{$i} * 100) + '%';
  }
}

