$color-box-size: 25px;
$color-box-gap: 10px;
$color-box-radius: 3px;

$check-color: #ffffff;

$color1: #7b88aa; // $grey;
$color2: hsl(204, 86%, 53%); //$cyan;
$color3: hsl(217, 71%, 53%); //$blue;
$color4: hsl(271, 100%, 71%); //$purple;
$color5: #a8657c;
$color6: hsl(348, 100%, 61%); //$red;
$color7: #ffa301; //$orange;
$color8: #c98c00;
$color9: hsl(48, 100%, 67%); //$yellow;
$color10: #6b6b31;
$color11: hsl(171, 100%, 41%); //$turquoise;
$color12: hsl(141, 71%, 48%); //$green;

$colors: ("1": $color1, "2": $color2, "3": $color3, "4": $color4, "5": $color5, "6": $color6, "7": $color7, "8": $color8, "9": $color9, "10": $color10, "11": $color11, "12": $color12);

.k-color-picker {
  @include clearfix;

  .k-color {
    @each $index, $color in $colors {
      &--#{$index} {
        &:hover {
          background-color: darken($color, 10%);
        }
      }
    }
  }
}

.k-color {
  width: $color-box-size;
  height: $color-box-size;
  line-height: $color-box-size;
  float: left;
  margin-right: $color-box-gap;
  margin-bottom: $color-box-gap;
  border-radius: $color-box-radius;
  text-align: center;
  transition: all .15s;
  cursor: pointer;

  &.is-last-col {
    margin-right: 0;
  }
  &.is-last-row {
    margin-bottom: 0;
  }

  @each $index, $color in $colors {
    &-text--#{$index} {
      color: $color;
    }

    &--#{$index} {
      background-color: $color;
    }
  }
}

.k-color__check {
  color: $check-color;
}
