@charset "UTF-8";
$popover-fill: $white;
$popover-font-size: $size-normal;
$popover-border-color: $border;
$popover-arrow-size: 6px;
$popover-padding: 10px;
$popover-padding-large: 28px 34px;
$popover-title-font-size: 18px;
$popover-title-color: $primary;

.k-popper {
  display: none;

  .k-popper__arrow,
  .k-popper__arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }

  .k-popper__arrow {
    border-width: $popover-arrow-size;
    filter: drop-shadow(0 2px 12px rgba(0, 0, 0, 0.03))
  }

  .k-popper__arrow:after {
    content: " ";
    border-width: $popover-arrow-size;
  }

  &[x-placement^="top"] {
    //margin-bottom: #{$popover-arrow-size + 6};
  }

  &[x-placement^="top"] .k-popper__arrow {
    bottom: -$popover-arrow-size;
    left: 50%;
    //margin-left: -#{$tooltip-arrow-size / 2};
    margin-left: -$tooltip-arrow-size;
    border-top-color: $popover-border-color;
    border-bottom-width: 0;

    &:after {
      bottom: 1px;
      margin-left: -$popover-arrow-size;
      border-top-color: $popover-fill;
      border-bottom-width: 0;
    }
  }

  &[x-placement^="bottom"] {
    //margin-top: #{$popover-arrow-size + 6};
  }

  &[x-placement^="bottom"] .k-popper__arrow {
    top: -$popover-arrow-size;
    left: 50%;
    //margin-left: -#{$tooltip-arrow-size / 2};
    margin-left: -$tooltip-arrow-size;
    border-top-width: 0;
    border-bottom-color: $popover-border-color;

    &:after {
      top: 1px;
      margin-left: -$popover-arrow-size;
      border-top-width: 0;
      border-bottom-color: $popover-fill;
    }
  }

  &[x-placement^="right"] {
    //margin-left: #{$popover-arrow-size + 6};
  }

  &[x-placement^="right"] .k-popper__arrow {
    top: 50%;
    left: -$popover-arrow-size;
    //margin-top: -#{$tooltip-arrow-size / 2};
    margin-top: -$tooltip-arrow-size;
    border-right-color: $popover-border-color;
    border-left-width: 0;

    &:after {
      bottom: -$popover-arrow-size;
      left: 1px;
      border-right-color: $popover-fill;
      border-left-width: 0;
    }
  }

  &[x-placement^="left"] {
    //margin-right: #{$popover-arrow-size + 6};
  }

  &[x-placement^="left"] .k-popper__arrow {
    top: 50%;
    right: -$popover-arrow-size;
    //margin-top: #{$tooltip-arrow-size / 2};
    margin-top: -$tooltip-arrow-size;
    border-right-width: 0;
    border-left-color: $popover-border-color;

    &:after {
      right: 1px;
      bottom: -$popover-arrow-size;
      margin-left: -$popover-arrow-size;
      border-right-width: 0;
      border-left-color: $popover-fill;
    }
  }
}
