<div class="menuTab-page" data-page="progress">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">

            <div class="card">
                <div class="card-header">
                    <h5>进度条</h5>
                </div>
                <div class="card-content">
                    <div class="card-content-inner">
                        <div class="tg-progress">
                            <div class="tg-progress-bar" style="width: 40%;">40%</div>
                        </div>
                        <div class="tg-progress tg-progress-striped">
                            <div class="tg-progress-bar" style="width: 65%;"></div>
                        </div>
                        <div class="tg-progress tg-progress-striped tg-active">
                            <div class="tg-progress-bar" style="width: 85%;"></div>
                        </div>
                        <div class="tg-progress tg-progress-striped tg-active tg-progress-danger">
                            <div class="tg-progress-bar" style="width: 85%;"></div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>