$datepicker-color: $text-light !default;
$datepicker-off-color: $grey-lighter !default;
$datepicker-header-color: $text !default;
$datepicker-icon-color: $text !default;
$datepicker-border-color: $grey-lighter !default;
$datepicker-inner-border-color: #e4e4e4 !default;
//$datepicker-inrange-color: $grey-lighter;
$datepicker-inrange-color: $white-ter !default;
$datepicker-inrange-hover-color: $white-ter !default;
$datepicker-active-color: $primary !default;
$datepicker-text-hover-color: $primary !default;
$datepicker-cell-hover-color: #fff !default;
