<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/output/ice/ice.css">
</head>
<body>


<a href="#" class="btn btn_alert">alert弹窗</a>
<a href="#" class="btn btn_confirm">confirm弹窗</a>
<a href="#" class="btn btn_prompt">prompt弹窗</a>
<a href="#" class="btn btn_common">common弹窗</a>

<script data-main="../js/layout/layer/layer-test" src="https://cdn.staticfile.org/require.js/2.3.3/require.min.js"></script>

</body>
</html>