@charset "UTF-8";
$checkbox-font-size: 14px;
$checkbox-font-weight: $weight-normal;
$checkbox-color: $text;
$checkbox-input-height: 14px;
$checkbox-input-width: 14px;
$checkbox-input-border-radius: $radius-small;
$checkbox-input-fill: $white;
$checkbox-input-border: 1px solid $border;
$checkbox-input-border-color: $border;
$checkbox-icon-color: $white;

$checkbox-disabled-input-border-color: $text-light;
$checkbox-disabled-input-fill: $background;
$checkbox-disabled-icon-color: $grey-light;

$checkbox-disabled-checked-input-fill: $background;
$checkbox-disabled-checked-input-border-color: $grey-lighter;
$checkbox-disabled-checked-icon-color: $grey-light;

$checkbox-checked-text-color: $primary;
$checkbox-checked-input-border-color: $primary;
$checkbox-checked-input-fill: $primary;
$checkbox-checked-icon-color: $background;

$checkbox-input-border-color-hover: $primary;

$checkbox-bordered-padding: 10px 20px 10px 10px;
$checkbox-bordered-medium-padding: 8px 20px 8px 10px;
$checkbox-bordered-small-padding: 6px 20px 6px 10px;
$checkbox-bordered-mini-padding: 4px 20px 4px 10px;
$checkbox-bordered-medium-input-height: 14px;
$checkbox-bordered-medium-input-width: 14px;
$checkbox-bordered-small-input-height: 12px;
$checkbox-bordered-small-input-width: 12px;
$checkbox-bordered-mini-input-height: 12px;
$checkbox-bordered-mini-input-width: 12px;

$checkbox-button-font-size: $size-normal;
$checkbox-button-checked-fill: $primary;
$checkbox-button-checked-color: $white;
$checkbox-button-checked-border-color: $primary;

.k-checkbox {
  @include unselectable;
  color: $checkbox-color;
  font-weight: $checkbox-font-weight;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;

  &__input {
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle;

    &.is-disabled, &[disabled] {
      .k-checkbox__inner {
        background-color: $checkbox-disabled-input-fill;
        border-color: $checkbox-disabled-checked-input-border-color;
        cursor: not-allowed;

        > i {
          cursor: not-allowed;
          border-color: $checkbox-disabled-icon-color;
        }

        & ~ .k-checkbox__label {
          cursor: not-allowed;
        }
      }

      &.is-checked {
        .k-checkbox__inner {
          background-color: $checkbox-disabled-checked-input-fill;
          border-color: $checkbox-disabled-checked-input-border-color;

          > i {
            border-color: $checkbox-disabled-checked-icon-color;
            color: $checkbox-disabled-checked-icon-color;
          }
        }
      }

      &.is-indeterminate {
        .k-checkbox__inner {
          background-color: $checkbox-disabled-checked-input-fill;
          border-color: $checkbox-disabled-checked-input-border-color;

          &::before {
            background-color: $checkbox-disabled-checked-icon-color;
            border-color: $checkbox-disabled-checked-icon-color;
          }
        }
      }
      & ~ span.k-checkbox__label {
        color: $grey-light;
        cursor: not-allowed;
      }
    }

    &.is-checked {
      .k-checkbox__inner {
        background-color: $checkbox-checked-input-fill;
        border-color: $checkbox-checked-input-border-color;

        > i {
          opacity: 1;
          transform: scale(1, 1);
        }
      }

      & ~ .k-checkbox__label {
        color: $checkbox-checked-text-color;
      }
    }

    &.is-focus {
      .k-checkbox__inner {
        border-color: $checkbox-input-border-color-hover;
      }
    }

    &.is-indeterminate {
      .k-checkbox__inner {
        background-color: $checkbox-checked-input-fill;
        border-color: $checkbox-checked-input-border-color;
      }
    }
  }

  &__inner {
    display: inline-block;
    position: relative;
    border: $checkbox-input-border;
    border-radius: $checkbox-input-border-radius;
    box-sizing: border-box;
    width: $checkbox-input-width;
    height: $checkbox-input-height;
    background-color: $checkbox-input-fill;
    z-index: $index-normal;
    //transition: border-color .25s cubic-bezier(.71, -.46, .29, 1.46),
    //background-color .25s cubic-bezier(.71, -.46, .29, 1.46);

    &:hover {
      border-color: $checkbox-input-border-color-hover;
    }

    > i {
      position: absolute;
      font-size: $size-tiny;
      opacity: 0;
      color: $white;
      left: 0;
      //transform: scale(0, 0);
      //transition: transform .15s cubic-bezier(.71, -.46, .88, .6) .05s;
      //transform-origin: center;
    }
  }

  &__original {
    opacity: 0;
    outline: none;
    position: absolute;
    margin: 0;
    width: 0;
    height: 0;
    left: -999px;
  }

  &__label {
    font-size: $checkbox-font-size;
    padding-left: 5px;
  }

  // & ~ .k-checkbox {
  //   margin-left: 30px;
  // }

  &--last {
    margin-right: 0;
  }
}

.k-checkbox-button {
  // todo
}

.k-checkbox-group {
  .k-checkbox {
    margin-right: 20px;
  }
}
