<div class="menuTab-page" data-page="photo">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h5>工具提示（tooltip）</h5>
                </div>
                <div class="card-content">
                    <div class="card-content-inner">
                        <button class="btn btn-primary tooltip" data-tooltip="在下方" data-direction="down">在下方</button>
                        <button class="btn btn-primary tooltip" data-tooltip="在上方" data-direction="up">在上方</button>
                        <button type="button" class="btn btn-primary tooltip" data-tooltip="在左侧" data-direction="left">
                            在左侧
                        </button>
                        <button type="button" class="btn btn-primary tooltip" data-tooltip="在右侧" data-direction="right">
                            在右侧
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>