<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<h2>多文件上传示例(使用AJAX)</h2>

<form method="POST" enctype="multipart/form-data" id="fileUploadForm">
    <input type="text" name="extraField"/><br/><br/>
    <input type="file" name="files"/><br/><br/>
    <input type="file" name="files"/><br/><br/>
    <input type="submit" value="提交" id="btnSubmit"/>
</form>

<h2>Ajax提交结果：<span id="result"></span></h2>
<a href="/testDownload">下载某文件</a>

<!--jQuery库 -->
<script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>
<!--AJAX操作 -->
<script type="text/javascript" src="main.js"></script>

</body>
</html>