.k-transfer {
  @include clearfix;
  margin: 0 -10px;

  &__section {
    float: left;
    padding: 0 10px;
    width: 50%;
    box-sizing: border-box;
  }

  &__title {
    color: $text;
    font-size: $size-medium;
    margin-bottom: 10px;
  }

  &__title--sub {
    margin-top: 2px;
    font-size: $size-small;
    color: $grey;
  }

  &__actions {
    text-align: right;
    padding: 4px;
    border-bottom: 1px solid $border;
  }

  &__body {
    position: relative;
    margin-top: 5px;
    border: 1px solid $border;
    border-radius: $radius;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border: none;
    border-top: 1px solid $border;
  }

  &__filter-list {
    @include scrollable;
    height: 320px;
    padding: 2px 0;
  }

  &__filter-wrap {
    position: relative;
    padding: 2px 4px;
  }

  &__filter {
    @include text-ellipsis;
    display: block;
    text-align: left;
    color: $text-light;
    padding: 10px 9px;
    border-radius: $radius-small;
    border: 1px solid transparent;
    background-color: $white-bis;

    &:hover {
      background-color: $white-ter;
    }
  }

  &__filter--select {
    i {
      visibility: hidden;
    }

    &:hover {
      i {
        visibility: visible;
      }
    }
  }

  &__filter--selected {
    position: relative;
    padding-right: 40px;

    .icon-selected {
      color: $primary;
      visibility: hidden;
    }

    .icon-remove {
      @include overlay;
      left: auto;
      width: 40px;
      line-height: 38px;
      text-align: center;

      &:hover {
        background-color: $white-bis;
        color: $primary;
      }
    }

    &.is-selected {
      background-color: $white-ter;
      .icon-selected {
        visibility: visible;
      }
    }
  }
}
