
/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	
html, body {
    height: 100%;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*--------------------------------------------------------
Commons
--------------------------------------------------------*/


::-moz-selection {background: #af1b5a;color: white; }
::selection {background: #af1b5a;color: white; }

body {
	background: url(../images/bg-body.png) center top repeat-y;
	font: 15px 'Oswald', sans-serif;
	font-weight: 300;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	text-align: left;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hidden {
	display: none;
}

.parallaxText {
	display: table-cell;
	vertical-align: middle;
}

.pattern {
	background: url(../images/pattern.png);
	width: 100%;
	position: absolute;
}

img.scale-with-grid {
	max-width: 100%;
	height: auto; }


/*--------------------------------------------------------
Typography
--------------------------------------------------------*/

h1, h2, h3, h4 {
	font-weight: 300;
	font-family: 'Oswald',sans-serif;
	color: #fff;
	margin: 0 0 6px;
}

h1 {
	font-size: 250px;
	text-transform: uppercase;
	position: relative;
	letter-spacing: -2px;
	text-align: left;
	line-height: 0.8;
	margin-bottom: 35px;
	padding-top: 15px;
}
h1 span{
	color: #6A0C31;
	font-size: 150px;
}

h2 {
	font-size: 44px;
	text-transform: uppercase;
	position: relative;
}

h2.white {
	color: #fff;
}
.siteColor {
	color: #d2b55b;
}


h3 {
	font-size: 22px;
	line-height: 1;
}
h3.sectionTitle {
    border-bottom: 1px solid #333;
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 10px;
    padding: 26px 0 6px;
}


h4 {
	font-size: 22px;
}

p {
	margin-bottom: 10px;
}

p a {
	color: #fff;
	text-decoration: none;
}

p a:hover {
	color: #a90e4b;
	transition: color 0.5s;
	-moz-transition: color 0.5s;
	-webkit-transition: color 0.5s;
	-o-transition: color 0.5s;
}
a {
	color:#fff;
	text-decoration:none;
}
a:hover{
	color:#a90e4b;
}

.logo {
	margin-left: -65px;
	position: absolute;
	top: 300px;
	left: 50%;
	z-index: 2000;
}
strong {
	font-weight: 700;
}
header {
	height: 23px;
}

	
.servicesContainer {
	padding-bottom: 100px;
}

.serviceItem {
    height: 338px;
    position: relative;
    width: 400px;
	margin: 20px auto;
}
.serviceInfoWrap, .serviceInfo {
    height: 227px;
    position: absolute;
    width: 362px;
}
.serviceInfoWrap {
    background: #F9F9F9;
    left: 19px;
    top: 19px;
}
.serviceInfo > div {
    background-position: center -19px;
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
	text-align: center;
}
.serviceInfo .serviceInfoFront {
    transition: all 0.6s ease-in-out 0s;
}
.serviceInfo .serviceInfoBack {
    background:#6A0C31;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.4s ease-in-out 0.2s;
}
.ie8 .serviceInfo .serviceInfoBack {
    display: none;
}
.darkslider, .darkslider .serviceInfoFront {background-image: url(../images/dark-slider.jpg);}
.darkvideo, .darkvideo .serviceInfoFront {background-image: url(../images/dark-video.jpg);}
.lightslider, .lightslider .serviceInfoFront {background-image: url(../images/light-slider.jpg);}
.lightvideo, .lightvideo .serviceInfoFront {background-image: url(../images/light-video.jpg);}

.serviceInfo h3 {
    color: #FFFFFF;
    font-size: 28px;
    margin: 80px 19px 0 19px;
    padding: 0 0 10px;
    text-align: center;
    text-transform: uppercase;
}
.serviceInfo h3 span{
    font-size: 36px;
}


.serviceItem:hover .serviceInfoFront {
    opacity: 0;
    transform: scale(0);
}
.serviceItem:hover .serviceInfoBack {
    opacity: 1;
    transform: scale(1);
}
.serviceItem:hover .serviceInfoBack {
	display: block;
}
	

	
		
/*--------------------------------------------------------
	v.--MISC
--------------------------------------------------------*/		
		
	.clear{float:none;}			
	
	

/* ============================================================= */
/* Media Queries
================================================================ */
/* Smaller than standard 1199 (devices and browsers) */
@media only screen and (max-width: 1199px) {
	
	
}


/* Higher than 960 (desktop devices) */
@media only screen and (min-width: 960px) and (max-width: 1199px) {
	
}


/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
	
	
}


/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	
}


/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	
}
	
	
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	
}


/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	

}