@charset "utf-8";
*{margin:0;padding:0;list-style:none;}
body{background:#fae8c8;overflow-x:hidden;_background-attachment: fixed;position:relative;font-size:12px;text-align:left;padding-top:30px;}
img{border:none;}
a,a:hover{text-decoration:none;}

.main_w{width:100%;position:relative;z-index:500;}
.index_zzw{height:382px;width:990px;margin:0px auto;position:relative;}
.prev_btn{display:block;height:73px;width:173px;position:absolute;left:-60px;background:url(/images/schedule-slider-demo/zzw_bg.png) no-repeat;top:128px;z-index:500;}
.prev_btn:hover{cursor:pointer;}
.prev_btn_1{background-position:0px 6px;}

.index_3meal_tab{height:52px;width:100%;position:absolute;left:0px;top:330px;}
.index_3meal_tab_w{width:990px;height:52px;margin:0px auto;position:relative;background:#fff url(/images/schedule-slider-demo/kedulong.gif) 0px 0px repeat-x;overflow:hidden;}

.timeline_left{width:1000px;position:absolute;left:-1000px;top:0px;height:48px;border-top:4px solid #aaa;background:#fff url(/images/schedule-slider-demo/kedulong.gif) right -4px repeat-x;}
.timeline_right{width:1000px;position:absolute;right:-1000px;top:0px;height:48px;border-top:4px solid #aaa;background:#fff url(/images/schedule-slider-demo/kedulong.gif) 0px -4px repeat-x;}

.index_3meal_tab span.time{display:block;height:48px;width:60px;position: absolute;top:4px;font-size:18px;color:#aaa;font-family:arial;line-height:48px;}
.index_3meal_tab span.time4{left:-11px;}
.index_3meal_tab span.time10{left:176px;}
.index_3meal_tab span.time14{left:375px;}
.index_3meal_tab span.time16{left:573px;}
.index_3meal_tab span.time21{left:771px;}
.index_3meal_tab span.time4_{left:979px;}

.next_btn{display:block;height:73px;width:173px;position:absolute;right:-60px;background:url(/images/schedule-slider-demo/zzw_bg.png) no-repeat;top:128px;z-index:500;}
.next_btn:hover{cursor:pointer;}
.next_btn_1{background-position:-174px 6px;}

.index_zzw_main{width:5000px;position:absolute;height:330px;left:-1980px;}
.zzw_item{width:990px;height:330px;position:absolute;}
.zzw_item_3{left:1980px;top:0px;}
.zzw_item_2{left:990px;top:0px;}
.zzw_item_4{left:2970px;top:0px;}
.zzw_item_1{left:0px;top:0px;}
.zzw_item_5{left:3960px;top:0px;}
.zzw_item ul li{float:left;height:330px;width:330px;overflow:hidden;position:relative;}
.zzw_item ul li div.c{position:absolute;height:78px;width:330px;background:url(/images/schedule-slider-demo/white80.png) repeat;left:0px;bottom:0px;}
.zzw_item ul li div.c h2{height:36px;line-height:36px;padding-top:12px;text-indent:20px;}
.zzw_item ul li div.c h2 a{color:#333;font-size:24px;font-family:Microsoft Yahei;}
.zzw_item ul li div.c h2 a:hover{color:#ff3232;text-decoration:underline;}
.zzw_item ul li div.c strong{line-height:18px;color:#666;padding-left:20px;}
.zzw_item ul li div.c span{display:inline-block;vertical-align:top;*display:inline;*zoom:1;height:30px;line-height:30px;padding:0px 14px;color:#fff;background:#60a531;top:-6px;right:10px;position:absolute;}
.zzw_item ul li div.c span a{color:#fff;}
.zzw_item ul li div.c span a:hover{text-decoration:underline;}
.timex{float:left;width:198px;display:block;height:48px;line-height:48px;color:#999;font-size:14px;text-align:center;border-top:4px solid #aaa;position:relative;background:none;}
.timex_current{border-top:4px solid #ff6363;color:#ff6363;background:#f9f9f9 url(/images/schedule-slider-demo/kedulong.gif) 0px -4px no-repeat;font-weight:bold;}
.timex span{display:none;font-size:14px;}
.timex_current span{display:block;}