<div class="k-transfer__panel" data-bind="css: {'is-ml-10': isTarget, 'is-source': !isTarget}">
  <div class="k-transfer__header" data-bind="text: _renderHeader"></div>
  <div class="k-transfer__body">
    <div class="k-transfer__search" data-bind="visible: showSearch">
      <label class="k-input k-input--prefix k-input--suffix k-input--small">
        <input placeholder="搜索" type="text" class="k-input__inner" data-bind="textInput: keyword">
        <span class="k-input__prefix"><i class="k-input__icon fa fa-search"></i></span>
        <span class="k-input__suffix">
          <i class="k-input__icon k-input__clear fa fa-times-circle"
            data-bind="click: clearKeyword, visible: keyword"
          ></i>
        </span>
      </label>
    </div>
    <div class="k-transfer__list" data-bind="foreach: filterList">
      <div class="k-transfer__item" data-bind="attr: {'data-key': $data.key}, click: function(data) {  $parent.onItemClick( data, $index()) }">
        <div class="k-transfer__text" data-bind="text: $data.label"></div>
        <div class="k-transfer__button-group">
          <!-- ko ifnot:$parent.isTarget -->
            <!-- <a class="k-transfer__button is-hover-visible">
              <i class="fa fa-plus is-hover-visible"></i>
            </a> -->
          <!-- /ko -->
          <!-- ko if:$parent.isTarget -->
            <a class="k-transfer__button is-hover-visible"
              data-bind="click: function(data) { $parent.handleAction('up', data, $index()) },
                  css: {'is-disabled': $index() === 0}
            ">
              <i class="fa fa-arrow-up"></i>
            </a>
            <a class="k-transfer__button is-hover-visible"
              data-bind="click: function(data) { $parent.handleAction('down', data, $index()) },
                css: {'is-disabled': $index() === $parent.list().length - 1}
            ">
              <i class="fa fa-arrow-down"></i>
            </a>
            <a class="k-transfer__button"
              data-bind="click: function(data) { $parent.handleAction('remove', data, $index()) }
            ">
              <i class="fa fa-minus"></i>
            </a>
          <!-- /ko -->
        </div>
      </div>
    </div>
  </div>
</div>
