<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="space.qmen.lot.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="space.qmen.lot.entity.Order">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_type" jdbcType="BIGINT" property="orderType" />
    <result column="f_renting_status_id" jdbcType="BIGINT" property="fRentingStatusId" />
    <result column="order_description" jdbcType="VARCHAR" property="orderDescription" />
    <result column="unit_price" jdbcType="DECIMAL" property="unitPrice" />
    <result column="timeout_unit_price" jdbcType="DECIMAL" property="timeoutUnitPrice" />
    <result column="duration" jdbcType="DECIMAL" property="duration" />
    <result column="timeout_duration" jdbcType="DECIMAL" property="timeoutDuration" />
    <result column="timeout_payment" jdbcType="DECIMAL" property="timeoutPayment" />
    <result column="expected_payment" jdbcType="DECIMAL" property="expectedPayment" />
    <result column="reduction" jdbcType="DECIMAL" property="reduction" />
    <result column="reduction_description" jdbcType="VARCHAR" property="reductionDescription" />
    <result column="pre_payment" jdbcType="DECIMAL" property="prePayment" />
    <result column="f_pre_payment_bill_id" jdbcType="BIGINT" property="fPrePaymentBillId" />
    <result column="actual_payment" jdbcType="DECIMAL" property="actualPayment" />
    <result column="f_actual_payment_bill_id" jdbcType="BIGINT" property="fActualPaymentBillId" />
    <result column="order_score" jdbcType="DECIMAL" property="orderScore" />
    <result column="order_level" jdbcType="BIT" property="orderLevel" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="status" jdbcType="BIT" property="status" />
  </resultMap>
</mapper>