@charset "UTF-8";
$input-font-size: $size-normal;
$input-color: $text;
$input-width: 140px;
$input-height: 36px;
$input-border: 1px solid $border;
$input-border-color: $border;
$input-border-radius: $radius;
$input-border-color-hover: $grey-darker;
$input-fill: $white;
$input-fill-disabled: $background;
$input-color-disabled: $text-light;
$input-icon-color: $grey-lighter;
$input-placeholder-color: $text-light;
$input-max-width: 314px;
$input-clear-button-color: $border;
$input-clear-button-hover-color: $grey-darker;
$input-hover-border: $grey-light;

$input-shadow: none;
//$input-shadow: inset 0 1px 2px rgba($black, 0.1) !default

$input-focus-border: $primary;
$input-focus-fill: $white;
//$input-focus-box-shadow-size: 0 0 0 0.125em !default;
//$input-focus-box-shadow-color: rgba($primary, 0.25) !default;
$input-disabled-fill: $background;
$input-disabled-border: $background;
$input-disabled-color: $text-light;
$input-disabled-placeholder-color: $grey-lighter;

$input-large-font-size: 16px;
$input-large-height: 42px;

$input-small-font-size: 13px;
$input-small-height: 30px;

$input-tiny-font-size: 12px;
$input-tiny-height: 22px;

$textarea-line-height: 1.4;
$textarea-padding: 8px;

.k-input {
  position: relative;
  font-size: $input-font-size;
  display: inline-block;
  width: 100%;

  &__inner {
    appearance: none;
    background-image: none;
    background-color: $input-fill;
    border-radius: $radius;
    border: $input-border;
    box-sizing: border-box;
    color: $input-color;
    display: inline-block;
    font-size: inherit;
    height: $input-height;
    line-height: $input-height;
    outline: none;
    padding: 0 10px;
    width: 100%;
    box-shadow: $input-shadow;
    transition: border $speed $easing;

    &::placeholder {
      color: $input-placeholder-color;
    }

    &:hover {
      border-color: $input-hover-border;
    }

    &:focus {
      outline: none;
      border-color: $input-focus-border;
      //box-shadow: $input-focus-box-shadow-size $input-focus-box-shadow-color;
    }
  }

  textarea.k-input__inner {
    height: auto;
    line-height: $textarea-line-height;
    padding: $textarea-padding;
  }

  &__suffix {
    position: absolute;
    right: 5px;
    top: 0;
    color: $input-icon-color;
    height: 100%;
    text-align: center;
    transition: all .3s;
  }

  &__suffix-inner {
    pointer-events: all;
  }

  &__prefix {
    position: absolute;
    left: 5px;
    top: 0;
    color: $input-icon-color;
    height: 100%;
    text-align: center;
    transition: all .3s;
  }

  &__icon {
    height: 100%;
    width: 25px;
    text-align: center;
    transition: all .3s;
    line-height: $input-height;

    &:after {
      content: '';
      height: 100%;
      width: 0;
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__validateIcon {
    pointer-events: none;
  }

  &__clear {
    cursor: pointer;
    color: $input-clear-button-color;

    &:hover {
      color: $input-clear-button-hover-color;
    }
  }

  &.is-active {
    .k-input__inner {
      outline: none;
      border-color: $input-focus-border;
      //box-shadow: $input-focus-box-shadow-size $input-focus-box-shadow-color;
    }
  }

  &.is-disabled {
    .k-input__inner {
      background-color: $input-disabled-fill;
      border-color: $input-disabled-border;
      color: $input-disabled-color;
      cursor: not-allowed;

      &::placeholder {
        color: $input-disabled-placeholder-color;
      }
    }

    .k-input__icon {
      cursor: not-allowed;
    }

  }

  &.is-static {
    .k-input__inner {
      border: none;
      background: transparent;
    }
  }

  &--suffix {
    .k-input__inner {
      padding-right: 30px;
    }
  }

  &--prefix {
    .k-input__inner {
      padding-left: 30px;
    }
  }

  &--large {
    font-size: $input-large-font-size;

    .k-input__inner {
      line-height: $input-large-height;
      height: $input-large-height;
    }

    .k-input__icon {
      line-height: $input-large-height;
    }
  }

  &--small {
    font-size: $input-small-font-size;

    .k-input__inner {
      line-height: $input-small-height;
      height: $input-small-height;
    }

    .k-input__icon {
      line-height: $input-small-height;
    }

    &.k-input-group {
      .k-select,
      .k-button {
        display: block;
        margin-top: -15px;
        margin-bottom: -15px;
      }
    }
  }

  &--tiny {
    font-size: $input-tiny-font-size;

    .k-input__inner {
      line-height: $input-tiny-height;
      height: $input-tiny-height;
    }

    .k-input__icon {
      line-height: $input-tiny-height;
    }
  }
}

.k-input-group {
  line-height: normal;
  display: inline-table;
  width: 100%;
  border-collapse: separate;
  > .k-input-inner {
    vertical-align: middle;
    display: table-cell;
  }

  &__append, &__prepend {
    background-color: $background;
    color: $info;
    vertical-align: middle;
    display: table-cell;
    position: relative;
    border: $input-border;
    border-radius: $input-border-radius;
    padding: 0 20px;
    width: 1%;
    white-space: nowrap;

    .k-select,
    .k-button {
      display: block;
      margin: -18px -21px;
    }

    div.k-select .k-input__inner,
    div.k-select:hover .k-input__inner {
      border-color: transparent;
      background-color: transparent;
      color: inherit;
      border-top: 0;
      border-bottom: 0;
      box-shadow: none;
    }

    .k-button,
    .k-input {
      font-size: inherit;
    }
  }

  &__prepend {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &__append {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    .k-button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  &--prepend {
    .k-input__inner {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

  }
  &--append {
    .k-input__inner {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

//@include b(textarea) {
//  display: inline-block;
//  width: 100%;
//  vertical-align: bottom;
//
//  @include e(inner) {
//    display: block;
//    resize: vertical;
//    padding: 5px 7px;
//    line-height: 1.5;
//    box-sizing: border-box;
//    width: 100%;
//    font-size: $--font-size-base;
//    color: $--input-color;
//    background-color: $--input-fill;
//    background-image: none;
//    border: $--input-border;
//    border-radius: $--input-border-radius;
//    transition: $--border-transition-base;
//
//    &::placeholder {
//      color: $--input-placeholder-color;
//    }
//
//    &:hover {
//      border-color: $--input-hover-border;
//    }
//
//    &:focus {
//      outline: none;
//      border-color: $--input-focus-border;
//    }
//  }
//
//  @include when(disabled) {
//    .el-textarea__inner {
//      background-color: $--input-disabled-fill;
//      border-color: $--input-disabled-border;
//      color: $--input-disabled-color;
//      cursor: not-allowed;
//
//      &::placeholder {
//        color: $--input-disabled-placeholder-color;
//      }
//    }
//  }
