@charset "UTF-8";
$radio-font-size: 14px;
$radio-font-weight: $weight-normal;
$radio-color: $text;
$radio-input-height: 14px;
$radio-input-width: 14px;
$radio-input-fill: $white;
$radio-input-border: 1px solid $border;
$radio-input-border-color: $border;
$radio-icon-color: $white;

$radio-disabled-input-border-color: $text-light;
$radio-disabled-input-fill: $background;
$radio-disabled-icon-color: $grey-light;

$radio-disabled-checked-input-border-color: $grey-lighter;
$radio-disabled-checked-input-fill: $background;
$radio-disabled-checked-icon-color: $grey-light;

$radio-checked-text-color: $primary;
$radio-checked-input-border-color: $primary;
$radio-checked-input-fill: $primary;
$radio-checked-icon-color: $background;

$radio-input-border-color-hover: $primary;

$radio-bordered-padding: 10px 20px 10px 10px;
$radio-bordered-medium-padding: 8px 20px 8px 10px;
$radio-bordered-small-padding: 6px 20px 6px 10px;
$radio-bordered-mini-padding: 4px 20px 4px 10px;
$radio-bordered-medium-input-height: 14px;
$radio-bordered-medium-input-width: 14px;
$radio-bordered-small-input-height: 12px;
$radio-bordered-small-input-width: 12px;
$radio-bordered-mini-input-height: 12px;
$radio-bordered-mini-input-width: 12px;

$radio-button-font-size: $size-normal;
$radio-button-checked-fill: $primary;
$radio-button-checked-color: $white;
$radio-button-checked-border-color: $primary;
$radio-button-disabled-checked-fill: $grey-light;

.k-radio {
  @include unselectable;
  color: $radio-color;
  font-weight: $radio-font-weight;
  line-height: 1;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;

  &.is-focus {
    outline: none;
    .k-radio__inner {
      color: $primary;
    }

    .is-disabled .k-radio__inner {
      color: $border;
    }
  }

  // & + .k-radio {
  //   margin-left: 30px;
  // }

  &__input {
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle;

    &.is-disabled, &[disabled] {
      cursor: not-allowed;
      .k-radio__inner {
        .k-radio__border {
          color: $radio-disabled-checked-input-border-color;
        }

        & ~ .k-radio__label {
          cursor: not-allowed;
        }

        &:hover {
          color: $radio-disabled-input-border-color;
        }
      }

      &.is-checked {
        .k-radio__inner {

          .k-radio__border {
            color: $radio-disabled-checked-input-border-color;
          }

          .k-radio__dot {
            color: $radio-disabled-icon-color;
          }
        }
      }
      & ~ span.k-radio__label {
        color: $grey-light;
        cursor: not-allowed;
      }
    }

    &.is-checked {
      .k-radio__inner {
        .k-radio__border {
          color: $radio-checked-input-fill;
        }
        .k-radio__dot {
          color: $radio-checked-input-fill;
          opacity: 1;
        }
      }

      & ~ .k-radio__label {
        color: $radio-checked-text-color;
      }
    }

    &.is-focus {
      .k-radio__inner {
        border-color: $radio-input-border-color-hover;
      }
    }
  }

  &__inner {
    width: $radio-input-width;
    height: $radio-input-height;
    position: relative;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    font-size: 19px; // 参照 checkbox，保证视觉大小一致性

    &:hover {
      > .k-radio__border {
        color: $radio-input-border-color-hover;
      }
    }

    > i {
      @include overlay(-1px);
      top: -2px;
    }

    .k-radio__border {
      color: $radio-input-border-color;
      z-index: $index-normal;
    }

    .k-radio__dot {
      opacity: 0;
      transition: opacity $speed $easing;
    }

    .k-radio__background {
      color: $radio-disabled-input-fill;
    }

  }

  &__original {
    opacity: 0;
    outline: none;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
  }

  &__label {
    font-size: $radio-font-size;
    padding-left: 5px;
  }
}

.k-radio-group {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;

  .k-radio {
    margin-right: 20px;
  }

  &--stack {
    .k-radio {
      width: 100%;
    }
    .k-radio + .k-radio {
      margin-left: 0;
      margin-top: 10px;
    }
  }
}
