<div class="menuTab-page" data-page="loading">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="card">
                <div class="card-header">
                    <h5>Loading</h5>
                </div>
                <div class="card-content">
                    <div class="card-content-inner">
                        <div class="loading">
                            <div class="loader circle-line small">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="loader circle-line-spin small">
                                <div class="circle-line-inner">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                            <div class="loader circle-round small">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="loader circle-round-fade small">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="loader line-square small">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="loader line-round small">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="loader line-bounce small">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="loader circle-spin small">
                                <div class="loader-placeholder"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="card">
                <div class="card-header">
                    <h5>圆形水波纹加载进度</h5>
                </div>
                <div class="card-content">
                    <div class="card-content-inner">
                        <div class="wave">
                            <div class="turn"></div>
                            <div class="tips">1%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>