<!DOCTYPE html>
  <html>
        <head>
            <meta charset="utf-8">
            <title>Project</title>
            <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        </head>
        
        <body>
            <div id="app">
            <table class="table table-bordered table-hover table-striped">
          <tr>
            <th colspan="3"> <h1>多页面导航</h1><mark>(本页面Node.js自动生成)</mark></th>
          </tr>
          <tr>
            <th>所属模块</th>
            <th>视图文件</th>
            <th>浏览地址</th>
          </tr>
        <tr> 
            <td>nervTest</td> 
            <td>index.html</td>
            <td>
              <a target="_blank" href="http://localhost:8091/nervTest/index.html">http://localhost:8091/nervTest/index.html</a>
           </td>
        </tr>
      
        <tr> 
            <td>sanSpaTest</td> 
            <td>index.html</td>
            <td>
              <a target="_blank" href="http://localhost:8091/sanSpaTest/index.html">http://localhost:8091/sanSpaTest/index.html</a>
           </td>
        </tr>
      </table>
            </div>
        </body>
    </html>