<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <base href="/"/>

    <title>CSS3圆形风格面包屑导航在线演示</title>

    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet prefetch">
    <link rel="stylesheet" href="/scss/components/nav/breadcrumb.css" media="screen"/>

</head>

<body>


<h1>CSS3圆形风格面包屑导航</h1>

<ul class="breadcrumb">
    <li>
        <a href="javascript:void(0)">
            <span class="icon icon-file"></span>
            <span class="text">file</span>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)">
            <span class="icon icon-folder-open"></span>
            <span class="text">folder</span>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)">
            <span class="icon icon-code"></span>
            <span class="text">CSS 3</span>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)">
            <span class="icon icon-beaker"></span>
            <span class="text">Lab</span>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)">
            <span class="icon icon-home"></span>
        </a>
    </li>
</ul>

</body>

</html>