* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans';
  overflow-x: hidden;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.grid {
  overflow: auto;
  will-change: transform, transform-origin;
  -webkit-transition: -webkit-transform 0.55s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform-origin 0.05s ease;
          transition: transform 0.55s cubic-bezier(0.23, 1, 0.32, 1), -ms-transform-origin 0.05s ease;
          transition: transform 0.55s cubic-bezier(0.23, 1, 0.32, 1), transform-origin 0.05s ease;
}
.grid__item {
  position: relative;
  float: left;
  height: 33.333vh;
  background: #f7f7f7;
}
.grid__item:hover .grid__title {
  color: #ef5350;
}
.grid__item--4 {
  width: 33.333%;
}
@media (max-width: 700px) {
  .grid__item {
    width: 100%;
  }
}
.grid__link {
  will-change: opacity;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 3vh 3vw;
  -webkit-transition: all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
          transition: all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
}
.grid__title {
  font-size: 24px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
  text-transform: capitalize;
  line-height: 1.3;
}
.grid p {
  margin-top: 25px;
  font-family: 'Georgia';
  color: rgba(0, 0, 0, 0.54);
  padding-bottom: 10px;
  box-shadow: inset 0 -4px #ef5350;
}

.post {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  min-height: 100vh;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.4);
      -ms-transform: scale(0.4);
          transform: scale(0.4);
  background: #f7f7f7;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 0.7s 0.5s cubic-bezier(0.23, 1, 0.32, 1);
          transition: all 0.7s 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.post--active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.post--hide {
  -webkit-transition: all 0.6s 0s cubic-bezier(0.23, 1, 0.32, 1);
          transition: all 0.6s 0s cubic-bezier(0.23, 1, 0.32, 1);
}
.post__wrapper {
  max-width: 670px;
  margin: 0 auto;
  padding: 15vh 5vw;
}
.post__back, .post__forw {
  position: absolute;
  top: 3vh;
  left: 2vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  -webkit-transition: color .2s ease-out;
          transition: color .2s ease-out;
}
.post__back > svg, .post__forw > svg {
  fill: rgba(0, 0, 0, 0.7);
  margin-right: 1vw;
}
.post__back:hover, .post__forw:hover {
  color: #ef5350;
}
.post__back:hover > svg, .post__forw:hover > svg {
  fill: #ef5350;
}
.post__forw {
  left: auto;
  right: 2vw;
}
.post__forw > svg {
  margin-right: 0;
  margin-left: 1vw;
}
.post h3 {
  margin: 0 0 25px 0;
  font-family: 'Georgia';
  color: rgba(0, 0, 0, 0.54);
  padding-bottom: 10px;
  box-shadow: inset 0 -4px #ef5350;
}
.post p {
  font-size: 20px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.87);
  margin: 0 0 25px 0;
  font-family: 'Georgia';
}
.post h1 {
  font-size: 36px;
  font-weight: 700;
  margin: 0 0 25px;
}