<div class="menuTab-page" data-page="linkageSelector">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="card">
                <div class="card-header">
                    <h5>联动选择器</h5>
                </div>
                <div class="card-content">
                    <div class="card-content-inner">
                        <div class="selector-box"></div>

                        <div class="nselect" style="margin-top: 20px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>