
<div class="k-tabs" data-bind="css: classObj()">
  <div class="k-tabs__header">
    <div class="k-tabs__nav-wrapper">
      <div class="k-tabs__nav" data-bind="event: { click: handleTabClick }">
        <!-- ko template: { nodes: getComponentNodes($componentTemplateNodes, 'k-tab-item', 'k-tab-pane') } --><!-- /ko -->
        <!-- ko if: type() === '' -->
        <div class="k-tabs__active-bar" data-bind="style: barStyle()"></div>
        <!-- /ko -->
      </div>
      <div class="k-tabs__slot">
        <!-- ko template: { nodes: getSlotNodes($componentTemplateNodes, 'tab-slot') } --><!-- /ko --></div>
    </div>
    <div class="clear-float"></div>
  </div>
  <div class="k-tabs__content">
    <!-- ko template: { nodes: getComponentNodes($componentTemplateNodes, 'k-tab-pane') } --><!-- /ko --></div>
</div>
