doctype  html
head
    link(rel="shortcut icon" href="/static/favicon.ico")
    meta(charset='utf-8')
    title Hello Pug

body
    div
        p.hello Hello Pug

    // 需要cdn引入   
    script(src="http://apps.bdimg.com/libs/jquery/1.9.1/jquery.min.js")
    img(src="./img/password.png" style="width:100px;height:100px;")
