$control-radius: $radius !default;
$control-radius-small: $radius-small !default;

$control-padding-vertical: 10px !default;
$control-padding-horizontal: 15px !default;

$control-large-padding-vertical: 11px !default;
$control-large-padding-horizontal: 19px !default;

$control-small-padding-vertical: 7px !default;
$control-small-padding-horizontal: 9px !default;

$control-tiny-padding-vertical: 4px !default;
$control-tiny-padding-horizontal: 4px !default;

@mixin control {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: $control-radius;
  box-shadow: none;
  display: inline-block;
  font-size: $size-normal;
  line-height: 1;
  padding-bottom: $control-padding-vertical;
  padding-left: $control-padding-horizontal;
  padding-right: $control-padding-horizontal;
  padding-top: $control-padding-vertical;
  position: relative;
  // States
  &:focus,
  &.is-focused,
  &:active,
  &.is-active {
    outline: none;
  }
  &[disabled] {
    cursor: not-allowed
  }
  &.is-main {
    padding-left: $control-padding-horizontal * 1.5;
    padding-right: $control-padding-horizontal * 1.5;
  }
}

// The controls sizes use mixins so they can be used at different breakpoints
@mixin control-small {
  border-radius: $control-radius-small;
  font-size: $size-small;
  padding: $control-small-padding-vertical $control-small-padding-horizontal;
  &.is-main {
    padding-left: $control-small-padding-horizontal * 1.5;
    padding-right: $control-small-padding-horizontal * 1.5;
  }
}

@mixin control-tiny {
  font-size: $size-tiny;
  padding: $control-tiny-padding-vertical $control-tiny-padding-horizontal;
  &.is-main {
    padding-left: $control-tiny-padding-horizontal * 1.5;
    padding-right: $control-tiny-padding-horizontal * 1.5;
  }
}

@mixin control-large {
  font-size: $size-large;
  padding: $control-large-padding-vertical $control-large-padding-horizontal;
  &.is-main {
    padding-left: $control-large-padding-horizontal * 1.5;
    padding-right: $control-large-padding-horizontal * 1.5;
  }
}
