@charset "UTF-8";

// application level variables
// 应用级自定义样式

// theme
//$body-background-color: #fafcff;
//$primary: #0093db !default;
//$danger: #ea798d !default;
//$success: #78c49a;
//$from: lighten($primary, 5%);
//$to: #528ac7;
$turquoise: #2c91d5 !default;
$green: #00ca87 !default;

// rd 系统特定的
$page-width: 1000px !default;
// header relatives
$heading-height: 100px !default;

@import "utilities/_all";

$control-radius: $radius-small;


