<div class="menuTab-page" data-page="range">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">


            <div class="card">
                <div class="card-header">滑动条</div>
                <div class="card-content">
                    <div class="card-content-inner">
                        <div class="range-slider range-field">
                            <input type="range" value="0" min="0" max="10"/>
                            <span class="range-slider-tooltip"></span>
                        </div>

                        <div class="range-slider custom-range">
                            <div class="range-bar"></div>
                            <div class="range-bar range-bar-active"></div>
                            <div class="range-knob-handle">
                                <div class="range-knob"></div>
                            </div>
                            <span class="range-slider-tooltip"></span>
                        </div>

                        <div class="range-slider success custom-range2">
                            <div class="range-bar"></div>
                            <div class="range-bar range-bar-active"></div>
                            <div class="range-knob-handle">
                                <div class="range-knob"></div>
                            </div>
                            <span class="range-slider-tooltip"></span>
                        </div>

                        <div class="range-slider warning custom-range">
                            <div class="range-bar"></div>
                            <div class="range-bar range-bar-active"></div>
                            <div class="range-knob-handle">
                                <div class="range-knob"></div>
                            </div>
                            <span class="range-slider-tooltip"></span>
                        </div>

                        <div class="range-slider error custom-range">
                            <div class="range-bar"></div>
                            <div class="range-bar range-bar-active"></div>
                            <div class="range-knob-handle">
                                <div class="range-knob"></div>
                            </div>
                            <span class="range-slider-tooltip"></span>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>