<div class="k-date-picker">
  <div class="k-picker-panel__body-wrapper">
    <div class="k-picker-panel__body">
      <div class="k-date-picker__header">
        <a data-bind="click: prevYear" class="k-picker-panel__icon-btn k-date-picker__prev-btn"><i
          class="fa fa-angle-double-left"></i></a>
        <a data-bind="click: prevMonth" class="k-picker-panel__icon-btn k-date-picker__prev-btn"><i
          class="fa fa-angle-left"></i></a>
        <span data-bind="text: year" class="k-date-picker__header-label"></span>
        <span data-bind="text: month" class="k-date-picker__header-label"></span>
        <a data-bind="click: nextYear" class="k-picker-panel__icon-btn k-date-picker__next-btn"><i
          class="fa fa-angle-double-right"></i></a>
        <a data-bind="click: nextMonth" class="k-picker-panel__icon-btn k-date-picker__next-btn"><i
          class="fa fa-angle-right"></i></a>
      </div>
      <div class="k-picker-panel__content">
        <table cellspacing="0" cellpadding="0" class="k-date-table">
          <thead>
            <tr data-bind="foreach: { data: dateTable.WEEKS, as: 'week' }">
              <th data-bind="text: week"></th>
            </tr>
          </thead>
          <tbody>
            <!-- ko foreach: { data: dateTable.rows, as: 'row' } -->
            <tr data-bind="foreach: { data: row, as: 'col' }" class="k-date-table__row">
              <td data-bind="css: col.clazz">
                <div>
                  <span data-bind="text: col.label"></span>
                </div>
              </td>
            </tr>
            <!-- /ko -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="k-picker-panel__footer" style="display: none;">
    <button type="button" class="k-button k-picker-panel__link-btn k-button--text k-button--mini"><span>此刻</span>
    </button>
    <button type="button" class="k-button k-picker-panel__link-btn k-button--default k-button--mini is-plain">
      <span>确定</span></button>
  </div>
</div>
