<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>多文件上传示例(使用AJAX)</title>
</head>
<body>

<form method="POST" enctype="multipart/form-data" id="fileUploadForm">
    <!--<input type="text" name="extraField"/><br/><br/>-->
    <input type="file" name="files"/><br/><br/>
    <!--<input type="file" name="files"/><br/><br/>-->
    <input type="submit" value="提交" id="btnSubmit"/>
</form>

<img src="/api/v1/upload/1.png" alt="">

<h2>Ajax提交结果：<span id="result"></span></h2>
<a id="download_link" href="/api/v1/upload/download?fileName=">下载某文件</a>

<!--jQuery库 -->
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<!--AJAX操作 -->
<script type="text/javascript" src="/main.js"></script>

</body>
</html>