<!doctype html>
<html lang="zh" class="no-js">
<head>
    <meta charset="UTF-8">
    <base href="/"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>9种响应式面包屑导航和分步导航指示器UI设计</title>
    <!--<link href='http://fonts.useso.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet'>-->
    <!--<link rel="stylesheet" href="css/reset.css"> &lt;!&ndash; CSS reset &ndash;&gt;-->
    <!--<link rel="stylesheet" href="css/default.css">-->
    <link rel="stylesheet" href="/scss/components/breadcrumb-step/style.css"> <!-- Resource style -->
    <!--<script src="js/modernizr.js"></script> &lt;!&ndash; Modernizr &ndash;&gt;-->

    <!--[if IE]>
    <script src="https://cdn.staticfile.org/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="htmleaf-container">

    <section>
        <h2>1 - Basic</h2>

        <nav>
            <ol class="cd-breadcrumb">
                <li><a href="javascript:void(0)">Home</a></li>
                <li><a href="javascript:void(0)">Gallery</a></li>
                <li><a href="javascript:void(0)">Web</a></li>
                <li class="current"><em>Project</em></li>
            </ol>
        </nav>
    </section>

    <section>
        <h2>2 - Custom Separator</h2>

        <nav>
            <ol class="cd-breadcrumb custom-separator">
                <li><a href="javascript:void(0)">Home</a></li>
                <li><a href="javascript:void(0)">Gallery</a></li>
                <li><a href="javascript:void(0)">Web</a></li>
                <li class="current"><em>Project</em></li>
            </ol>
        </nav>
    </section>

    <section>
        <h2>3 - Custom Icons</h2>

        <nav>
            <ol class="cd-breadcrumb custom-separator custom-icons">
                <li><a href="javascript:void(0)">Home</a></li>
                <li><a href="javascript:void(0)">Gallery</a></li>
                <li><a href="javascript:void(0)">Web</a></li>
                <li class="current"><em>Project</em></li>
            </ol>
        </nav>
    </section>

    <section>
        <h2>4 - Triangle</h2>

        <nav>
            <ol class="cd-breadcrumb triangle">
                <li><a href="javascript:void(0)">Home</a></li>
                <li><a href="javascript:void(0)">Gallery</a></li>
                <li><a href="javascript:void(0)">Web</a></li>
                <li class="current"><em>Project</em></li>
            </ol>
        </nav>
    </section>

    <section>
        <h2>5 - Triangle with custom icons</h2>

        <nav>
            <ol class="cd-breadcrumb triangle custom-icons">
                <li><a href="javascript:void(0)">Home</a></li>
                <li><a href="javascript:void(0)">Gallery</a></li>
                <li class="current"><em>Web</em></li>
                <li><em>Project</em></li>
            </ol>
        </nav>
    </section>

    <section>
        <h2>6 - Basic Multi-Steps</h2>

        <nav>
            <ol class="cd-multi-steps text-center">
                <li class="visited"><a href="javascript:void(0)">Cart</a></li>
                <li class="visited"><a href="javascript:void(0)">Billing</a></li>
                <li class="current"><em>Delivery</em></li>
                <li><em>Review</em></li>
            </ol>
        </nav>
    </section>

    <section>
        <h2>7 - Basic Multi-Steps with Custom Icons</h2>

        <nav>
            <ol class="cd-multi-steps text-center custom-icons">
                <li class="visited"><a href="javascript:void(0)">Cart</a></li>
                <li class="visited"><a href="javascript:void(0)">Billing</a></li>
                <li class="current"><em>Delivery</em></li>
                <li><em>Review</em></li>
            </ol>
        </nav>
    </section>

    <section>
        <h2>8 - Dot Indicators</h2>

        <nav>
            <ol class="cd-multi-steps text-top">
                <li class="visited"><a href="javascript:void(0)">Cart</a></li>
                <li class="visited"><a href="javascript:void(0)">Billing</a></li>
                <li class="current"><em>Delivery</em></li>
                <li><em>Review</em></li>
            </ol>
        </nav>
    </section>

    <section>
        <h2>9 - Dot Indicators with Steps Counter</h2>

        <nav>
            <ol class="cd-multi-steps text-bottom count">
                <li class="visited"><a href="javascript:void(0)">Cart</a></li>
                <li class="visited"><a href="javascript:void(0)">Billing</a></li>
                <li class="current"><em>Delivery</em></li>
                <li><em>Review</em></li>
            </ol>
        </nav>
    </section>

</div>
</body>
</html>