<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="space.qmen.lot.dao.AreaDao">

    <resultMap id="BaseResultMap" type="space.qmen.lot.entity.Area">
        <result column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="area_code" property="areaCode" />
        <result column="name" property="name" />
        <result column="level" property="level" />
        <result column="seq" property="seq" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
        <result column="is_town" property="isTown" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>
    <parameterMap id="Area" type="space.qmen.lot.entity.Area"/>
    <sql id="Base_Column_List">
        id, pid, area_code, name, level, seq, gmt_create, gmt_modified, is_town, is_deleted
    </sql>

    <resultMap id="SimpleResultMap" type="space.qmen.lot.dto.AreaSimpleDTO">
        <result column="id" property="id" />
        <!--<result column="pid" property="pid" />-->
        <!--<result column="area_code" property="areaCode" />-->
        <result column="name" property="name" />
        <!--<result column="level" property="level" />-->
        <result column="seq" property="seq" />
        <!--<result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />-->
        <!--<result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />-->
        <result column="is_town" property="isTown" />
        <!--<result column="is_deleted" property="isDeleted" />-->
    </resultMap>
    <parameterMap id="AreaSimple" type="space.qmen.lot.dto.AreaSimpleDTO"/>
    <sql id="Simple_Column_List">
        id, name, seq, is_town
    </sql>


    <!-- 根据id获取地区 -->
    <select id="getAreaById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from area
        where id = #{id}
    </select>

    <select id="getAreaIdByName" resultType="java.lang.Long" parameterType="java.lang.String">
        select id
        from area
        where `name` like concat(concat('%',#{areaName}),'%')
    </select>

    <!-- 显示所有地区 -->
    <select id="listArea" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from area
    </select>

    <!-- 新增地区 -->
    <insert id="saveArea" parameterMap="AreaSimple" useGeneratedKeys="true" keyProperty="id">
        insert into
        area(id,pid,area_code,name,level,seq,is_town)
        values
        (null,#{pid},#{areaCode},#{name},#{level},#{seq},#{isTown})
    </insert>

    <!--<insert id="saveArea" parameterMap="AreaSimple" useGeneratedKeys="true" keyProperty="id">-->
        <!--insert into area-->
        <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
            <!--<if test="id != null">id,</if>-->
            <!--<if test="pid != null">pid,</if>-->
            <!--<if test="areaCode != null">area_code,</if>-->
            <!--<if test="name != null">name,</if>-->
            <!--<if test="level != null">level,</if>-->
            <!--<if test="seq != null">seq,</if>-->
            <!--<if test="isTown != null">is_town,</if>-->
        <!--</trim>-->
        <!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
            <!--<if test="id != null">id,</if>-->
            <!--<if test="pid != null">pid,</if>-->
            <!--<if test="areaCode != null">area_code,</if>-->
            <!--<if test="name != null">name,</if>-->
            <!--<if test="level != null">level,</if>-->
            <!--<if test="seq != null">seq,</if>-->
            <!--<if test="isTown != null">is_town,</if>-->
        <!--</trim>-->
    <!--</insert>-->


    <!--更新地区-->
    <update id="updateArea" parameterMap="AreaSimple">
        update
        area
        set
        <if test="name!=null">
            name = #{name},
        </if>
        <if test="seq!=null">
            seq = #{seq},
        </if>
        <if test="isTown!=null">
            is_town = #{isTown},
        </if>
        gmt_modified = CURRENT_TIMESTAMP
        where
        id = #{id}
    </update>

    <!-- 删除地区 -->
    <delete id="deleteArea" parameterType="java.lang.Long">
        delete from
        area
        where
        id = #{id}
    </delete>


</mapper>
