<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="space.qmen.lot.dao.BillDao">

    <resultMap id="BaseResultMap" type="space.qmen.lot.entity.Bill">
        <result column="id" property="id" />
        <result column="transaction_type" property="transactionType" />
        <result column="bill_amount" property="billAmount" />
        <result column="from_account_id" property="fromAccountId" />
        <result column="from_account_name" property="fromAccountName" />
        <result column="to_account_id" property="toAccountId" />
        <result column="to_account_name" property="toAccountName" />
        <result column="description" property="description" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <parameterMap id="Bill" type="space.qmen.lot.entity.Bill"/>
    <sql id="Base_Column_List">
        id, transaction_type,
        bill_amount,
        from_account_id, from_account_name,
        to_account_id, to_account_name,
        description,
        gmt_create, gmt_modified,
        is_deleted
    </sql>


    <!-- 根据id获取账单 -->
    <select id="getBillById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from bill
        where id = #{id}
    </select>

    <!-- 显示所有账单 -->
    <select id="listBill" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from bill
    </select>

    <!-- 新增账单 -->
    <insert id="saveBill" parameterMap="Bill" useGeneratedKeys="true" keyProperty="id">
        insert into
        bill
        (id, transaction_type, bill_amount,
          from_account_id, to_account_id)
        values
        (null,#{transactionType}, #{billAmount},
          #{fromAccountId},#{toAccountId})
    </insert>

    <!--更新账单-->
    <update id="updateBill" parameterMap="Bill">
        update bill
        set
        <if test="billAmount!=null">
            bill_amount = #{billAmount},
        </if>
        <if test="description!=null">
            description = #{description},
        </if>
        gmt_modified = CURRENT_TIMESTAMP
        where
        id = #{id}
    </update>

    <!-- 删除账单 -->
    <delete id="deleteBill" parameterType="java.lang.Long">
        delete from
        bill
        where
        id = #{id}
    </delete>

    <!-- 获取X用户A年B月的总收入 -->
    <parameterMap id="GetWalletParam" type="space.qmen.lot.param.WalletParam"/>
    <!-- 根据id获取账单 -->
    <select id="getWalletTotal" resultType="Double" parameterMap="GetWalletParam">
		select
		  month_income
        from lk_user_wallet_month
        where
          wallet_year = #{walletYear}
          AND wallet_month = #{walletMonth}
          AND f_user_id = #{userId};
    </select>

    <!-- 根据id获取账单 -->
    <resultMap id="BillDetailsDTOMap" type="space.qmen.lot.dto.BillDetailsDTO">
        <result column="bill_amount" property="billAmount" />
        <result column="bill_day" property="billDay" />
        <result column="day_of_week" property="dayOfWeek" />
        <result column="bill_date" property="billDate" />
        <result column="renter_name" property="renterName" />
        <result column="transaction_type" property="transactionType" />
        <result column="pay_method" property="payMethod" />
        <result column="plate_num" property="plateNum" />
    </resultMap>
    <select id="listBillDetails" resultMap="BillDetailsDTOMap" parameterMap="GetWalletParam">
        (
        select
            bill.bill_amount,
            day(bill.gmt_create) as bill_day,
            DAYOFWEEK(bill.gmt_create) as day_of_week,
            bill.gmt_create AS bill_date,
            bill.transaction_type,
						'支付宝' AS pay_method,
            vehicle.plate_num,
            `user`.real_name AS renter_name
        from
						bill,
            `order`,
            				lk_space_day_renting_status AS day_rentings,
            vehicle,
            `user`
        where

            bill.transaction_type = 1
            AND year(bill.gmt_create) = #{walletYear}
            AND month(bill.gmt_create) = #{walletMonth}

						AND `order`.f_actual_payment_bill_id = bill.id
                        AND `order`.f_renting_status_id = day_rentings.id
            AND bill.to_account_id =
                (
                select pay_ali.account_alipay_id
                from pay_ali
                where pay_ali.f_user_id = #{userId}
                )
            AND day_rentings.f_vehicle_id = vehicle.id
            AND bill.from_user_id = `user`.id
        )

        union all
        (
        select
            bill.bill_amount,
            day(bill.gmt_create) as bill_day,
            DAYOFWEEK(bill.gmt_create) as day_of_week,
            bill.gmt_create AS bill_date,
            bill.transaction_type,
						'微信支付' AS pay_method,
            vehicle.plate_num,
            `user`.real_name AS renter_name
        from
						bill,
            `order`,
            lk_space_day_renting_status AS day_rentings,
            vehicle,
            `user`
        where

            bill.transaction_type = 2
            AND year(bill.gmt_create) = #{walletYear}
            AND month(bill.gmt_create) = #{walletMonth}

						AND `order`.f_actual_payment_bill_id = bill.id
						AND `order`.f_renting_status_id = day_rentings.id
            AND bill.to_account_id =
                (
                select pay_ali.account_alipay_id
                from pay_ali
                where pay_ali.f_user_id = #{userId}
                )
            AND day_rentings.f_vehicle_id = vehicle.id
            AND bill.from_user_id = `user`.id

        )

        union all
				(
        select
            bill.bill_amount,
            day(bill.gmt_create) as bill_day,
            DAYOFWEEK(bill.gmt_create) as day_of_week,
            bill.gmt_create AS bill_date,
            bill.transaction_type,
						pay_bank.bank_name AS pay_method,
            vehicle.plate_num,
            `user`.real_name AS renter_name
        from
						bill,
            `order`,
            lk_space_day_renting_status AS day_rentings,
            vehicle,
            `user`,
            pay_bank
        where

            bill.transaction_type = 0
            AND year(bill.gmt_create) = #{walletYear}
            AND month(bill.gmt_create) = #{walletMonth}

						AND `order`.f_actual_payment_bill_id = bill.id
						AND `order`.f_renting_status_id = day_rentings.id
            AND bill.to_account_id =
                (
                select pay_ali.account_alipay_id
                from pay_ali
                where pay_ali.f_user_id = #{userId}
                )
            AND day_rentings.f_vehicle_id = vehicle.id
            AND bill.from_user_id = `user`.id
            AND pay_bank.f_user_id = bill.to_user_id
        )

        order by bill_date
    </select>


</mapper>
