<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="space.qmen.lot.dao.RBACDao">

    <resultMap id="RoleBaseResultMap" type="space.qmen.lot.entity.Role">
        <result column="id" property="id" />
        <result column="role_name" property="roleName" />
        <result column="description" property="description" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="f_create_by" property="fCreateBy" />
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
        <result column="f_modified_by" property="fModifiedBy" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <parameterMap id="Role" type="space.qmen.lot.entity.Role"/>
    <sql id="Role_Base_Column_List">
        id, role_name,
        description,
        gmt_create, f_create_by,
        gmt_modified, f_modified_by,
        is_deleted
    </sql>


    <resultMap id="ResourceBaseResultMap" type="space.qmen.lot.entity.Resource">
        <result column="id" property="id" />
        <result column="resource_name" property="resourceName" />
        <result column="description" property="description" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <parameterMap id="Resource" type="space.qmen.lot.entity.Resource"/>
    <sql id="Resource_Base_Column_List">
        id, resource_name,
        description,
        gmt_create, gmt_modified,
        is_deleted
    </sql>


    <!-- 根据id获取角色 -->
    <select id="getRoleById" resultMap="RoleBaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Role_Base_Column_List" />
        from role
        where id = #{id}
    </select>

    <!-- 显示所有角色 -->
    <select id="listRole" resultMap="RoleBaseResultMap">
        select
        <include refid="Role_Base_Column_List" />
        from role
    </select>

    <!-- 新增角色 -->
    <insert id="saveRole" parameterMap="Role" useGeneratedKeys="true" keyProperty="id">
        insert into
        role(id, role_name)
        values
        (null,#{roleName})
    </insert>

    <!--更新角色-->
    <update id="updateRole" parameterMap="Role">
        update
        role
        set
        <if test="roleName!=null">
            role_name = #{roleName},
        </if>
        <if test="description!=null">
            description = #{description},
        </if>
        gmt_modified = CURRENT_TIMESTAMP
        where
        id = #{id}
    </update>

    <!-- 删除角色 -->
    <update id="deleteRole" parameterType="java.lang.Long">
        update role
        set is_deleted = 1
        where
        id = #{id}
    </update>


    <!-- 根据id获取权限 -->
    <select id="getResourceById" resultMap="ResourceBaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Resource_Base_Column_List" />
        from resource
        where id = #{id}
    </select>

    <!-- 显示所有权限 -->
    <select id="listResource" resultMap="ResourceBaseResultMap">
        select
        <include refid="Resource_Base_Column_List" />
        from resource
    </select>

    <!-- 新增权限 -->
    <insert id="saveResource" parameterMap="Resource" useGeneratedKeys="true" keyProperty="id">
        insert into
        resource(id, resource_name)
        values
        (null,#{resourceName})
    </insert>

    <!--更新权限-->
    <update id="updateResource" parameterMap="Resource">
        update
        resource
        set
        <if test="resourceName!=null">
            resource_name = #{resourceName},
        </if>
        <if test="description!=null">
            description = #{description},
        </if>
        gmt_modified = CURRENT_TIMESTAMP
        where
        id = #{id}
    </update>

    <!-- 删除角色 -->
    <update id="deleteesource" parameterType="java.lang.Long">
        update resource
        set is_deleted = 1
        where
        id = #{id}
    </update>
</mapper>
