<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="space.qmen.lot.dao.SpaceDao">

    <resultMap id="BaseResultMap" type="space.qmen.lot.entity.Space">
        <result column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="icon" property="icon"/>
        <result column="space_area" property="spaceArea"/>
        <result column="level" property="level"/>
        <result column="score" property="score"/>
        <result column="description" property="description"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <parameterMap id="Space" type="space.qmen.lot.entity.Space"/>
    <sql id="Base_Column_List">
        space.id, code, `name`, space_area, `level`,score,
        description,
        space.gmt_create, space.gmt_modified,
        space.is_deleted
    </sql>


    <!-- 根据id获取车位 -->
    <select id="getSpaceById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from `space`
        where id = #{id}
    </select>

    <!-- 根据id获取车位 -->
    <select id="getSpaceRuleBySpaceId" resultType="space.qmen.lot.dto.SpaceWeekRuleDTO" parameterType="java.lang.Long">
        select
            id AS rule_id,
            is_mon_ok,
            is_tue_ok,
            is_wed_ok,
            is_thur_ok,
            is_fri_ok,
            is_sat_ok,
            is_sun_ok,
            is_morning_ok,
            is_afternoon_ok,
            is_festival_ok,
            `status`
        from
            lk_space_week_renting_rule
        where
            f_space_id = #{spaceId}
          AND is_deleted = 0
    </select>


    <select id="getSpaceDayRentingStatus" resultType="space.qmen.lot.dto.SpaceDayRentingStatusDTO" parameterType="space.qmen.lot.param.SpaceDayRentingStatusParam">
        select
            day_rentings.f_renter_id AS renter_id,
            day_rentings.period_type
        from
            lk_space_day_renting_status AS day_rentings
        where
            day_rentings.date_begin = #{date}
            AND day_rentings.f_space_id = #{spaceId}
            AND day_rentings.is_deleted = 0;
    </select>

    <select id="getSpaceHistoryOrderNumById" resultType="java.lang.Integer" parameterType="java.lang.Long">
        select count(*)
        from `order`,lk_space_day_renting_status AS day_rentings
        where
        `order`.f_renting_status_id = day_rentings.id
        and day_rentings.is_deleted = 0
        and `order`.`status` != 2
        and day_rentings.is_deleted = 0
        and day_rentings.f_space_id = #{spaceId}
    </select>

    <select id="getSpaceCollectionStatus" resultType="java.lang.Long"
            parameterType="space.qmen.lot.param.SpaceCollectionParam">
        select
            f_space_id
        from
            lk_collection_user_space
        where
            f_space_id = #{spaceId}
          AND f_user_id = #{userId}
          AND `status` = 1
    </select>


    <select id="getSpaceInfoByUCZSId" resultType="space.qmen.lot.dto.UCZSSpaceInfoDTO" parameterType="java.lang.Long">
        select
                space.`name` as space_name,
          space.`code` as space_code,
            community.`name` as community_name
        from
            lk_user_community_zone_space as uzcs,
          space,
          community
        where
            uzcs.id = #{uczsId}
            and uzcs.f_community_id = community.id
            and uzcs.f_space_id = space.id
    </select>

    <select id="getSpaceInfoById" resultType="space.qmen.lot.dto.SpaceInfoDTO" parameterType="java.lang.Long">
        select
          `space`.id,
          `space`.`code`,
          `space`.`name`,
          `space`.space_area,
          `space`.`level`,
          `space`.score,
          `space`.description,
          `space`.gmt_create,
          `space`.gmt_modified,
          `space`.is_deleted,
          `zone`.`name` AS zone_name,
          `user`.`real_name` AS owner_name,
          `user`.tel AS owner_tel
        from
            `space`,
            lk_space_week_renting_rule  AS rule,
            lk_user_community_zone_space AS uczs,
            `zone`,
            `user`
        where
            `space`.id = #{id}
            AND `space`.id = rule.f_space_id
            AND rule.f_space_id = uczs.f_space_id
            AND rule.is_deleted = 0
            AND uczs.f_zone_id = zone.id
            AND uczs.f_owner_id = `user`.id
    </select>


    <!-- 显示所有车位 -->
    <select id="listSpace" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `space`
    </select>

    <select id="listSpaceEx" resultType="space.qmen.lot.vo.SpaceExVO">
        select
        <include refid="Base_Column_List"/>, status
        from
        `space`
        LEFT JOIN  lk_user_community_zone_space as uczs
        on `space`.id = uczs.f_space_id
    </select>

    <select id="listSpaceCheck" resultType="space.qmen.lot.dto.SpaceCheckDTO">
        select
            `user`.real_name AS owner_name,
            `user`.tel,
            uczs.`status` AS space_status,
          `space`.`name` AS space_name,
          `space`.id
        from
            `space`,
            lk_user_community_zone_space AS uczs,
          `user`
        WHERE
            space.id = uczs.f_space_id
            and uczs.f_owner_id = `user`.id
    </select>

    <!-- 新增车位 -->
    <parameterMap id="SaveSpaceParam" type="space.qmen.lot.param.SpaceParam"/>
    <insert id="saveSpace" parameterMap="SaveSpaceParam" useGeneratedKeys="true" keyProperty="id">
        insert into `space`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">code,</if>
            <if test="name != null">`name`,</if>
            <if test="spaceArea != null">space_area,</if>
            <if test="description != null">description,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">
                #{code},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="spaceArea != null">
                #{spaceArea},
            </if>
            <if test="description != null">
                #{description},
            </if>
        </trim>
    </insert>

    <!-- 新增收藏车位 -->
    <insert id="saveSpaceCollection" parameterType="space.qmen.lot.param.SpaceCollectionParam"
            useGeneratedKeys="true" keyProperty="id">
        insert into lk_collection_user_space(f_user_id, f_space_id, `status`)
        values(#{userId},#{spaceId},#{status})
        ON DUPLICATE KEY UPDATE f_user_id =#{userId}, `status` = #{status}
    </insert>

    <!--更新车位-->
    <update id="updateSpace" parameterMap="Space">
        update
        `space`
        set
        <trim suffixOverrides=",">
            <if test="code!=null">
                code = #{code},
            </if>
            <if test="name!=null">
                `name` = #{name},
            </if>
            <if test="spaceArea!=null">
                space_area = #{spaceArea},
            </if>
            <if test="level!=null">
                `level` = #{level},
            </if>
            <if test="score!=null">
                score = #{score},
            </if>
            <if test="description!=null">
                description = #{description},
            </if>
        </trim>
        where
        id = #{id}
    </update>

    <!-- 匹配用户 -->
    <update id="updateUCZSUser" parameterType="space.qmen.lot.param.UCZSMatchUserParam">
        update
          lk_user_community_zone_space AS uczs
        set
        <trim suffixOverrides=",">
            <if test="ownerId!=null">
                uczs.f_owner_id = #{ownerId},
            </if>
            <if test="status!=null">
                uczs.status = #{status},
            </if>
        </trim>
        where
          uczs.id = #{uczsId}
    </update>

    <update id="updateUCZSStatusBySpaceId" parameterType="space.qmen.lot.param.SpaceCheckParam">
        update
        lk_user_community_zone_space AS uczs
        set
        <trim suffixOverrides=",">
            <if test="status!=null">
                uczs.status = #{status},
            </if>
        </trim>
        where
        uczs.f_space_id = #{spaceId}
        and uczs.is_deleted = 0
    </update>


    <!-- 删除车位 -->
    <delete id="deleteSpace" parameterType="java.lang.Long">
        delete from `space`
        where
        id = #{id}
    </delete>


    <resultMap id="SpaceDetailsDTOMap" type="space.qmen.lot.dto.SpaceDetailsDTO">
        <result column="f_owner_id" property="ownerId"/>
        <result column="f_community_id" property="communityId"/>
        <result column="f_space_id" property="spaceId"/>
        <result column="f_zone_id" property="zoneId"/>
        <result column="community_name" property="communityName"/>
        <result column="code" property="code"/>
        <result column="morning_begin_time" property="morningBeginTime"/>
        <result column="morning_end_time" property="morningEndTime"/>
        <result column="afternoon_begin_time" property="afternoonBeginTime"/>
        <result column="afternoon_end_time" property="afternoonEndTime"/>
        <result column="owner_benifit_percent" property="ownerBenifitPercent"/>
        <result column="unit_price" property="unitPrice"/>
        <result column="is_morning_ok" property="isMorningOk"/>
        <result column="is_afternoon_ok" property="isAfternoonOk"/>
        <result column="status" property="status"/>
    </resultMap>
    <!-- 根据业主id获取车位详细信息 -->
    <select id="listSpaceDetailsByOwnerId" resultMap="SpaceDetailsDTOMap" parameterType="java.lang.Long">
       select
            uczs.f_owner_id,
            uczs.f_community_id,
            community.`name` AS community_name,
            uczs.f_space_id,
            uczs.f_zone_id,
            rule.`status`,
            rule.is_morning_ok,
            rule.is_afternoon_ok,
            `space`.`code`,

            policy.morning_begin_time,
            policy.morning_end_time,
            policy.afternoon_begin_time,
            policy.afternoon_end_time,
            policy.owner_benifit_percent,
            policy.unit_price
        from
            lk_space_week_renting_rule AS rule,
            lk_user_community_zone_space AS uczs,
            lk_community_policy AS policy,
            community,
            `space`
        where

            rule.f_space_id = `space`.id
            AND rule.f_space_id = uczs.f_space_id
            AND rule.is_deleted = 0
            AND community.id = uczs.f_community_id
            AND uczs.f_community_id = policy.f_community_id
            AND uczs.is_deleted = 0
            AND uczs.f_owner_id = #{id};
    </select>

    <select id="listSpaceByCommunityId" resultType="space.qmen.lot.dto.UCZSInfoDTO" parameterType="java.lang.Long">
        select
          uczs.id AS uczs_id,
					uczs.f_community_id AS community_id,
          uczs.f_space_id AS space_id,
          space.`name` AS space_name,
					uczs.f_zone_id AS zone_id,
          zone.`name`	AS zone_name
        FROM
            lk_user_community_zone_space AS uczs,
            zone,
            space
        WHERE
            uczs.f_zone_id = zone.id
							AND uczs.f_space_id = space.id
            AND uczs.f_community_id = #{id}
            AND uczs.is_deleted = 0
            AND uczs.`status` = 0
    </select>


    <!--更新车位-->
    <parameterMap id="WeekRule" type="space.qmen.lot.param.WeekRuleParam"/>

    <update id="deleteSpaceRuleSoftly" parameterType="java.lang.Long">
        update lk_space_week_renting_rule
        set is_deleted = 1
        where f_space_id = #{spaceId}
    </update>

    <insert id="updateSpaceRule" parameterMap="WeekRule" useGeneratedKeys="true" keyProperty="id">
        insert into `lk_space_week_renting_rule`(
            f_space_id,
            is_mon_ok,
            is_tue_ok,
            is_wed_ok,
            is_thur_ok,
            is_fri_ok,
            is_sat_ok,
            is_sun_ok,
            is_morning_ok,
            is_afternoon_ok,
            is_festival_ok,
            status,
            is_deleted
        )
        values
        (
        #{spaceId},
        #{isMonOk},
        #{isTueOk},
        #{isWedOk},
        #{isThurOk},
        #{isFriOk},
        #{isSatOk},
        #{isSunOk},
        #{isMorningOk},
        #{isAfternoonOk},

        #{isFestivalOk},
        #{status},
        0
        )
    </insert>


    <!-- 获取小区可用车位 -->
    <parameterMap id="SpaceAvailableParam" type="space.qmen.lot.param.CommunitySpaceAvailableParam"/>
    <select id="listSpaceAvailable" resultType="java.lang.Long" parameterMap="SpaceAvailableParam">
      SELECT
          rule.f_space_id
        from
          lk_space_week_renting_rule AS rule,
          community,
          lk_user_community_zone_space AS uczs
        where not exists (
            select
              day_rentings.f_space_id
            from
              lk_space_day_renting_status as day_rentings,
              lk_user_community_zone_space AS uczs2
            where
                rule.f_space_id = uczs2.f_space_id
                AND rule.is_deleted = 0
                AND uczs.f_community_id = #{communityId}
                AND rule.`status` = 0
                AND rule.is_deleted = 0

                OR rule.is_afternoon_ok = 0
                OR rule.is_morning_ok = 0

                OR day_rentings.is_deleted = 0
                AND day_rentings.date_begin = #{dateBegin}
                AND rule.f_space_id = day_rentings.f_space_id
        )
				AND rule.f_space_id = uczs.f_space_id
        AND uczs.f_community_id = #{communityId}
        AND uczs.f_community_id = community.id
        AND uczs.status = 1
        AND rule.is_deleted = 0
        AND rule.status = 1;
    </select>

</mapper>
