<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="space.qmen.lot.dao.ZoneDao">

    <resultMap id="BaseResultMap" type="space.qmen.lot.entity.Zone">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <parameterMap id="Zone" type="space.qmen.lot.entity.Zone"/>
    <sql id="Base_Column_List">
        id, name,
        description,
        gmt_create, gmt_modified,
        is_deleted
    </sql>


    <!-- 根据id获取停车区 -->
    <select id="getZoneById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from zone
        where id = #{id}
    </select>

    <!-- 显示所有停车区 -->
    <select id="listZone" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from zone
    </select>

    <!-- 新增停车区 -->
    <insert id="saveZone" parameterMap="Zone" useGeneratedKeys="true" keyProperty="id">
        insert into
        zone(id, name)
        values
        (null,#{name})
    </insert>

    <!--更新停车区-->
    <update id="updateZone" parameterMap="Zone">
        update
        zone
        set
        <if test="name!=null">
            name = #{name},
        </if>
        gmt_modified = CURRENT_TIMESTAMP
        where
        id = #{id}
    </update>

    <!-- 删除停车区 -->
    <delete id="deleteZone" parameterType="java.lang.Long">
        delete from
        zone
        where
        id = #{id}
    </delete>
</mapper>
