<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS3 3D立体图片翻转焦点图DEMO演示</title>
    <!--<link rel="stylesheet" href="css/htmleaf-demo.css">-->
    <link rel="stylesheet" href="/plus/flipslide/flip-slider.css"/>
</head>
<body>
<div class="flip-slider">
    <div class="flip-frame">
        <div class="flip">
            <div class="slide"><img src="/images/flip-slider-demo/1.jpg" alt=""/></div>
            <div class="slide"><img src="/images/flip-slider-demo/2.jpg" alt=""/></div>
            <div class="slide"><img src="/images/flip-slider-demo/3.jpg" alt=""/></div>
            <div class="slide"><img src="/images/flip-slider-demo/4.jpg" alt=""/></div>
            <div class="slide"><img src="/images/flip-slider-demo/5.jpg" alt=""/></div>
            <div class="slide color">
                <h1>Slide Title</h1>
                <b>HTML Page</b> <i>Content</i>
            </div>
        </div>
    </div>
    <div class="nav">
        <button class="prev">Previous</button>
        <button class="next">Next</button>
    </div>
</div>

<script src="/plus/flipslide/flipslide.js"></script>

</body>
</html>