/*       
    Author:骆金参(Luo_0412)
    BuildDate:2016-3-28
    Version:1.0
    Function:lab1-4 CSS部分
*/
 
/* 排序约定：*/
/*
        位置  
        长宽   
        内外边距（盒模型）
        背景色
        特效(外框，阴影) 
        文本（主体，文本颜色）  
*/





/*统一性的设置*/
p {
    font-size: 12px;
    line-height: 1.8em;
}
h1 {
    font-size: 30px;
    line-height: 1.2em;
}
h1 a {
    color: #3a90c9;
    text-decoration: none;
}
h2 {
    color: #323a3f;
}
h2 span {
    color:#3a90ca;
}
.clr {
    clear:both;    /*消除浮动负效应*/
}



/*大容器设置，相当于#container*/
.main {
    font-size: 12px;
    line-height: 1.8em;
    color:#5f5f5f;
}
.header_resize, .content_resize, .footer_resize {  
              /*内容区设置居中，两条隐形的对齐线*/
     width:930px;
     margin:auto;   
}

/*头部区*/
.header {
    background:url("../../src/images/header_bg.gif") repeat-x;
}
.logo {
    float:left;
}
.menu_nav {
    float:right;
    background: url("../../src/images/menu.gif") repeat-x;
    position:relative;
    top:40px;
}
.menu_nav a {
    color: #5f5f5f;
    text-decoration: none;
    padding:12px 10px 12px 10px;   
}
.menu_nav a:hover {
    color:#fff;
    background-color: #3a90c9;
}
.menu_nav li {
    display:inline;
    text-decoration: none;
    margin:6px -6px 16px 0px;
}
.menu_nav ul {
    margin:8px 0px 8px 0px;
    padding:0px;
}
.menu_nav .active a {
    color:#fff;
    background: #3a90c9;
}


/*内容区*/
.content {
    width:930px;
    margin:auto;
}
.content_resize a {
   color:#3a90ca;
}
/*内容左区*/
.mainbar {
    float:left;
    width:630px;
}
.mainbar img {
    border:  1px solid #b7b7b7;
    padding: 4px;
}
/*内容右区*/
.sidebar {
    float:right;
    width:236px;
    color: #959595;
}
.sidebar a {
    color:#5f5f5f;
    text-decoration: none;
}
.sidebar a:hover {
    color: #3a90ca;
    font-weight: bold;
}
.sidebar li {
    position:relative;
    left:-38px;
    list-style: none;
    margin-bottom: 12px;
}

/*尾部区*/
.lf {
    float:right;
}
.fmenu {
    float:left;
    position:relative;
    left:-40px;
}
.fmenu li {
    display:inline;
    padding:4px;
}
.fmenu a {
    color:#5f5f5f;
    text-decoration: none;

}
.fmenu a:hover {
    color:#3a90c9;
}
.fmenu .active a {
    color:#3a90c9;
}


