<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>超酷纯CSS3动感手风琴列表ui界面设计</title>
    <link href="https://cdn.bootcss.com/normalize/7.0.0/normalize.min.css" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css'>

    <link rel="stylesheet" href="/css/theme/natural/_output.css">

    <!--[if IE]>
    <script src="https://cdn.staticfile.org/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->

    <style>

    </style>
</head>

<body class="nt-accordion">

<section class="htmleaf-container">

    <div class='right'>
        <div class='app'>
            <div class='app_inner'>
                <input checked='' id='tab-1' name='buttons' type='radio'>
                <label for='tab-1'>
                    <div class='app_inner__tab'>
                        <h2>
                            <i class='icon ion-android-alarm-clock'></i>
                            8am - 10am
                        </h2>
                        <div class='tab_left'>
                            <i class='big icon ion-android-color-palette'></i>
                            <div class='tab_left__image'>
                                <i class='icon ion-android-color-palette'></i>
                            </div>
                        </div>
                        <div class='tab_right'>
                            <h3>Jamie talks design</h3>
                            <h4>Monday - Thursday</h4>
                            <p>I talk a bunch of rubbish</p>
                            <button>More information</button>
                        </div>
                    </div>
                </label>
                <input false='' id='tab-2' name='buttons' type='radio'>
                <label for='tab-2'>
                    <div class='app_inner__tab'>
                        <h2>
                            <i class='icon ion-android-alarm-clock'></i>
                            10am - 12am
                        </h2>
                        <div class='tab_left'>
                            <i class='big icon ion-music-note'></i>
                            <div class='tab_left__image'>
                                <i class='icon ion-music-note'></i>
                            </div>
                        </div>
                        <div class='tab_right'>
                            <h3>Arctic Monkeys Live</h3>
                            <h4>Monday - Wednesday</h4>
                            <p>Music for your lug holes</p>
                            <button>More information</button>
                        </div>
                    </div>
                </label>
                <input false='' id='tab-3' name='buttons' type='radio'>
                <label for='tab-3'>
                    <div class='app_inner__tab'>
                        <h2>
                            <i class='icon ion-android-alarm-clock'></i>
                            12am - 4pm
                        </h2>
                        <div class='tab_left'>
                            <i class='big icon ion-android-microphone'></i>
                            <div class='tab_left__image'>
                                <i class='icon ion-android-microphone'></i>
                            </div>
                        </div>
                        <div class='tab_right'>
                            <h3>Steven Fry podcast</h3>
                            <h4>Staurday - Sunday</h4>
                            <p>Steven Fry says words</p>
                            <button>More information</button>
                        </div>
                    </div>
                </label>
                <input false='' id='tab-4' name='buttons' type='radio'>
                <label for='tab-4'>
                    <div class='app_inner__tab'>
                        <h2>
                            <i class='icon ion-android-alarm-clock'></i>
                            4pm - 8pm
                        </h2>
                        <div class='tab_left'>
                            <i class='big icon ion-android-bar'></i>
                            <div class='tab_left__image'>
                                <i class='icon ion-android-bar'></i>
                            </div>
                        </div>
                        <div class='tab_right'>
                            <h3>Massive event</h3>
                            <h4>Monday - Friday</h4>
                            <p>Some kind of music festival</p>
                            <button>More information</button>
                        </div>
                    </div>
                </label>
            </div>
        </div>
    </div>
</section>


</body>
</html>