<div class="menuTab-page" data-page="editor">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h5>编辑器</h5>
                </div>
                <div class="card-content">
                    <div class="card-content-inner">
                        <div id="editor">
                            <p>这是一个富文本编辑器，简单高效！</p>
                            <p>你可以通过getHTML()获取编辑器中的所有内容，也可以通过getText()获取纯文本内容</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>