<div class="menuTab-page" data-page="tabs">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-4">

            <div class="card">
                <div class="card-header">
                    <h5>SoGa+框架</h5>
                </div>

                <div class="card-content">
                    <div class="card-content-inner">
                        <div class="sg-tabs-block sg-tabs-line">

                            <div class="sg-tabs-nav">
                                <div class="sg-button-tabs">
                                    <a class="sg-button-tab active">
                                        描述
                                    </a>
                                    <a class="sg-button-tab">
                                        特点
                                    </a>
                                    <a class="sg-button-tab">
                                        一周热门
                                    </a>
                                </div>
                            </div>

                            <div class="sg-tabs-body">
                                <div class="sg-tabs">
                                    <div class="sg-tab active">
                                        SoGa+是一个完全响应式，基于Bootstrap3.3.7最新版本开发的扁平化主题，
                                        它采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术，
                                        它提供了诸多的强大的可以重新组合的UI组件。
                                        它可以用于所有的Web应用程序，如网站管理后台，网站会员中心，
                                        CMS，CRM，OA等等， 当然，您也可以对它进行深度定制，以做出更强系统。
                                    </div>
                                    <div class="sg-tab">
                                        最新文章
                                    </div>
                                    <div class="sg-tab">
                                        一周热门
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-xs-4 ">
            <div class="card">
                <div class="card-header">
                    <h5>SoGa+框架</h5>
                </div>

                <div class="card-content">
                    <div class="card-content-inner">
                        <div class="sg-tabs-block tab-scale">
                            <div class="sg-tabs-nav">
                                <div class="sg-button-tabs">
                                    <a class="sg-button-tab active">
                                        热门文章
                                    </a>
                                    <a class="sg-button-tab">
                                        最新文章
                                    </a>
                                    <a class="sg-button-tab">
                                        一周热门
                                    </a>
                                </div>
                            </div>
                            <div class="sg-tabs-body">
                                <div class="sg-tabs">
                                    <div class="sg-tab active">
                                        tab1
                                    </div>
                                    <div class="sg-tab">
                                        tab2
                                    </div>
                                    <div class="sg-tab">
                                        tab3
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-xs-4 sg-tabs-block">
            <div class="card">
                <div class="card-header">
                    <h5>SoGa+框架</h5>
                </div>
                <div class="card-content">
                    <div class="card-content-inner">
                        <div class="sg-tabs-block sg-tab-default">
                            <div class="sg-tabs-nav">
                                <div class="sg-button-tabs">
                                    <a class="sg-button-tab active">
                                        热门文章
                                    </a>
                                    <a class="sg-button-tab">
                                        最新文章
                                    </a>
                                    <a class="sg-button-tab">
                                        一周热门
                                    </a>
                                </div>
                            </div>
                            <div class="sg-tabs-body">
                                <div class="sg-tabs">
                                    <div class="sg-tab active">
                                        tab1
                                    </div>
                                    <div class="sg-tab">
                                        tab2
                                    </div>
                                    <div class="sg-tab">
                                        tab3
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>