/*       
    Author:骆金参(Luo_0412)
    BuildDate:2016-3-23
    Version:1.0
    Function:lab1-1 CSS部分
*/

/* 排序约定：*/
/*
        位置  
        长宽   
        内外边距（盒模型）
        背景色
        特效(外框，阴影) 
        文本（主体，文本颜色）  
*/


/*要求14 15*/
body
{
    margin: 0;

    background-color: #eee;
}

#container
{
    /*cotainer是最大的div*/
    width: 80%;
    margin: auto;  /*水平居中*/
    padding-top: 10px;
    padding-right: auto;
    padding-bottom: auto;
    padding-left: 10px;

    background-color: white;
}
/*要求14 15 结束*/

/*要求1*/
h1
{
    font-weight: bold;
    font-style: italic;

    color: blue;
}
/*要求1 结束*/

/*要求2*/
p
{
    font-family: Monospace;
    font-size: 18px;

    text-indent: 2em;
}
/*要求2 结束*/

/*要求3*/
a
{
    text-decoration: none;   /*去除下划线*/

    color: orange;   /*默认颜色设置在这里*/
}
a:hover
{
    text-decoration: underline;

    color: blue;
}
/*要求3 结束*/

/*要求4*/
li
{
    list-style: none;
}
/*要求4 结束*/


/*要求5-8*/
table
{
    margin: 0 auto;

    border-collapse: collapse;

    text-align: center;

    border: 3px solid blue;
}
table caption
{
    font-size: 24px;
    font-weight: bold;

    margin-bottom: 5px;
}
table th,
table td
{
    font-family: serif;

    height: 30px;
    padding: 0 20px 0 20px;  /*自己添加的*/

    text-align: center;

    border: 1px solid black;
}
table th
{
    color: blue;
}
table td.alt
{
    font-size: 24px;
    font-weight: bold;
}
/*要求5-8 结束*/

/*要求10-13*/
form
{
    width: 95%;
    padding: 10px;

    background-color: #ffc;
}
input
{
    margin-left: 10px;
}
input.alt
{
    width: 50px;
    height: 30px;
    margin-top: 10px;

    cursor: pointer;

    border: 1px #ddd solid;
    border-style: none;
    background-color: white;
}
/*要求10-13 结束*/

/*要求9 16*/
.animal_2 p:first-letter
{
    font-size: 2.5em;
    font-weight: bolder;
}
.animal_2 p
{
    float: left;

    width: 60%;
}
.animal_2 img
{
    float: right;

    width: 35%;
    margin-right: 10px;
    margin-bottom: 10px;
}
.clr
{
    clear: both;
}
/*要求9 16 结束*/
