@charset "UTF-8";
$context: '.k-dialog';

#{$context} {
  position: relative;
  background: $white;
  border-radius: $radius;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  margin: 0 auto;
  width: 650px;

  &__wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    margin: 0;
    display: none;
    transition: opacity 0.3s, transform .4s;
    opacity: 1;
    padding: 100px 0;
  }

  &--tiny {
    width: 450px;
  }
  &--small {
    width: 550px;
  }
  &--large {
    width: 950px;
  }
  &--full {
    width: 100%;
    top: 0;
    margin-bottom: 0;
    height: 100%;
    overflow: auto;
  }
  &--thin {
    .k-dialog__body {
      padding: 0;
    }
  }
  &__icon {
    color: $grey;
  }
  &__header {
    padding: $vertical-padding*2 $horizontal-padding;
    @include clearfix;
    &-btn {
      float: right;
      background: transparent;
      border: none;
      outline: none;
      padding: 0;
      cursor: pointer;
      font-size: $size-normal;
      &:focus, &:hover {
        #{$context}__icon {
          color: $grey-dark;
        }
      }
    }
  }
  &__title {
    line-height: 1;
    font-size: $size-large;
    color: $text;
  }

  &__body {
    padding: $vertical-padding*2 $horizontal-padding;
    color: $text;
    font-size: $size-normal;
  }
  &__footer {
    padding: $vertical-padding*2 $horizontal-padding;
    text-align: right;
    box-sizing: border-box;
  }
}
