// $transfer-width: 200px;
// $transfer-list-height: 200px;
// $transfer-radius: $radius;
// $transfer-item-padding: 7px 15px;
// $transfer-button-group-padding: 7px 7px 0 0;
// $transfer-search-padding: 4px;
// $transfer-item-color: $grey;
// $transfer-item-hover: $white-ter;
// $transfer-item-hover-color: $text;
// $transfer-button-gap: 5px;
// @keyframes transferHighlightIn {
//   0% {
//     background: darken($transfer-item-hover, 10%)
//   }
//   to {
//     background: transparent
//   }
// }
// .kk-transfer {
//   @include clearfix;
//   position: relative;
//   display: table;
//   &__panel {
//     display: table-cell;
//     width: $transfer-width;
//     border-radius: $transfer-radius;
//     border: 1px solid $border;
//     box-sizing: border-box;
//     &.is-action {
//       border: none;
//       width: 50px;
//       text-align: center;
//       position: relative;
//       .k-transfer__action {
//         position: absolute;
//         top: 50%;
//         margin-top: -30px;
//       }
//       .k-button {
//         width: 30px;
//         height: 30px;
//       }
//     }
//     &.is-source {
//       .k-transfer__item {
//         cursor: pointer;
//       }
//     }
//   }
//   &__header {
//     padding: $transfer-item-padding;
//     color: $text-light;
//   }
//   &__box {
//     color: $grey;
//     padding: $transfer-item-padding;
//     &--grey {
//       background-color: $background;
//     }
//   }
//   &__body {
//     border-top: 1px solid $border;
//   }
//   &__search {
//     padding: $transfer-search-padding;
//   }
//   &__list {
//     height: $transfer-list-height;
//     overflow: auto;
//   }
//   &__item {
//     padding: $transfer-item-padding;
//     position: relative; // cursor: pointer;
//     transition: all .15s;
//     color: $transfer-item-color;
//     &:hover {
//       color: $transfer-item-hover-color;
//       background-color: $transfer-item-hover;
//       .is-hover-visible {
//         display: inline-block;
//       }
//     }
//     &.is-moved {
//       animation: transferHighlightIn 1s;
//     }
//   }
//   &__button-group {
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     padding: $transfer-button-group-padding;
//   }
//   &__button {
//     float: left;
//     color: $link;
//     padding: 0 $transfer-button-gap; // &:first-child {
//     //   padding-right: $transfer-button-gap;
//     // }
//     &.is-disabled {
//       color: $link;
//       cursor: not-allowed;
//       opacity: 0.5;
//     }
//     &.is-hover-visible {
//       display: none;
//     }
//   } // &__button ~ &__button {
//   //   margin-left: $transfer-button-gap;
//   // }
// }
$transfer-width: 230px;
$transfer-height: 350px;
$opertation-gap: 5px;
$opertation-btn-size: 28px;
$header-height: 36px;
$header-margin: 10px 20px;
$search-margin: 0 20px 8px;
$item-height: 36px;
$item-padding: 0 20px;
$item-color: $grey;
$item-hover-color: $text;
$item-hover-background: $white-ter;
$transfer-divider-width: 20px;
$box-height: $item-height;
$box-padding: 0 20px;
.k-transfer {
  display: table;
  height: $transfer-height;
  &--rounded {
    .k-transfer__panel {
      border-radius: $radius;
    }
    .k-transfer__search {
      .k-input__inner {
        border-radius: $radius;
      }
    }
  }
  &__panel {
    min-width: $transfer-width;
    display: table-cell;
    border: 1px solid $border;
  }
  &__divider {
    display: table-cell;
    width: $transfer-divider-width;
  }
  &__operation {
    .k-button {
      display: block;
      width: $opertation-btn-size;
      height: $opertation-btn-size;
    }
  }
  &__header {
    height: $header-height;
    line-height: $header-height;
    margin: $header-margin;
    font-weight: $weight-medium;
    // a {
    //   color: $grey;
    //   &:hover {
    //     color: $link;
    //   }
    // }
  }
  &__text {
    @include text-ellipsis;
    display: inline-block;
    max-width: 160px;
  }
  &__search {
    .k-input__inner {
      border-radius: 0;
      &:focus {
        border-color: $border-hover;
      }
    }
  }
  &__list {
    height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  &__item {
    padding: $item-padding;
    cursor: pointer;
    color: $item-color;
    height: $item-height;
    line-height: $item-height; // transition: all .15s ease;
    &:hover {
      color: $item-hover-color;
      background-color: $item-hover-background;
      .k-transfer__icon {
        // display: inline;
        visibility: visible;
      }
    }
  }
  &__icon {
    // display: none;
    // 占位，防止显示隐藏时抖动
    visibility: hidden;
    line-height: $item-height;
    float: right;
    color: $grey;
    &--visible {
      visibility: visible;
    }
  }
  &__panel--middle {
    min-width: unset;
    vertical-align: middle;
    padding-left: $opertation-gap;
    padding-right: $opertation-gap;
    border: none;
  }
  &__box {
    height: $box-height;
    line-height: $box-height;
    color: $grey;
    padding: $box-padding;
    margin-bottom: 8px;
    &--top-bordered {
      border-top: 1px solid $border;
    }
    &--bottom-bordered {
      border-bottom: 1px solid $border;
    }
    &--dark {
      border-top: none;
      border-bottom: none;
      background-color: $background;
    }
  }
}
