// Float

.is-clearfix {
  @include clearfix;
}

.is-pulled-left {
  float: left !important;
}

.is-pulled-right {
  float: right !important;
}

// Overflow

.is-clipped {
  overflow: hidden !important;
}

.is-ellipsis {
  @include text-ellipsis;
}

// Overlay

.is-overlay {
  @include overlay;
}

// Typography

@each $size in $sizes {
  $i: index($sizes, $size);
  .is-size-#{$i} {
    font-size: $size !important;
  }
}

@each $name, $size in $text-sizes {
  .is-text-#{$name} {
    font-size: $size !important;
  }
}

@each $name, $weight in $weights {
  .is-weight-#{$name} {
    font-weight: $weight !important;
  }
}

$alignments: ('centered': 'center', 'left': 'left', 'right': 'right');

@each $alignment, $text-align in $alignments {
  .has-text-#{$alignment} {
    text-align: #{$text-align} !important;
  }
}

.is-capitalized {
  text-transform: capitalize !important;
}

.is-lowercase {
  text-transform: lowercase !important;
}

.is-uppercase {
  text-transform: uppercase !important;
}

@each $name, $pair in $colors {
  $color: nth($pair, 1);
  .has-text-#{$name} {
    color: $color !important;
  }
  a.has-text-#{$name} {
    &:hover,
    &:focus {
      color: darken($color, 10%) !important;
    }
  }
}

@each $name, $shade in $shades {
  .has-text-#{$name} {
    color: $shade !important;
  }
}

// Visibility

$displays: 'block' 'flex' 'inline' 'inline-block' 'inline-flex';

@each $display in $displays {
  .is-#{$display} {
    display: #{$display} !important;
  }
}

.is-hidden {
  display: none !important;
}

// Other

$gaps: ("0": 0, "5": 5px, "10": 10px, "15": 15px, "20": 20px, "30": 30px, "50": 50px) !default;
@each $name, $gap in $gaps {

  .is-margin-#{$name} {
    margin: $gap !important;;
  }
  .is-mt-#{$name} {
    margin-top: $gap !important;
  }
  .is-mb-#{$name} {
    margin-bottom: $gap !important;
  }
  .is-ml-#{$name} {
    margin-left: $gap !important;
  }
  .is-mr-#{$name} {
    margin-right: $gap !important;
  }
  .is-padding-#{$name} {
    padding: $gap !important;;
  }
  .is-pt-#{$name} {
    padding-top: $gap !important;
  }
  .is-pb-#{$name} {
    padding-bottom: $gap !important;
  }
  .is-pl-#{$name} {
    padding-left: $gap !important;
  }
  .is-pr-#{$name} {
    padding-right: $gap !important;
  }
}

.is-block-margin {
  margin-top: $block-margin;
  margin-bottom: $block-margin;
}

.is-marginless {
  margin: 0 !important;
}

.is-paddingless {
  padding: 0 !important;
}

.is-radiusless {
  border-radius: 0 !important;
}

.is-shadowless {
  box-shadow: none !important;
}

.is-unselectable {
  @include unselectable;
}
