<div class="k-date-range-picker">
  <div class="k-picker-panel__body-wrapper">
    <div class="k-picker-panel__body">
      <div class="k-picker-panel__content k-date-range-picker__content is-left">
        <div class="k-date-range-picker__header">
          <a data-bind="click: prevYear" class="k-picker-panel__icon-btn k-date-picker__prev-btn"><i
            class="fa fa-angle-double-left"></i></a>
          <a data-bind="click: prevMonth" class="k-picker-panel__icon-btn k-date-picker__prev-btn"><i
            class="fa fa-angle-left"></i></a>
          <div data-bind="text: leftDate"></div>
        </div>
        <table data-bind="with: dateTable1" cellspacing="0" cellpadding="0" class="k-date-table">
          <tbody>
          <tr data-bind="foreach: { data: WEEKS, as: 'week' }">
            <th data-bind="text: week"></th>
          </tr>
          <!-- ko foreach: { data: rows, as: 'row' } -->
          <tr data-bind="foreach: { data: row, as: 'col' }" class="k-date-table__row">
            <td data-bind="css: col.clazz">
              <div>
                <span data-bind="text: col.label"></span>
              </div>
            </td>
          </tr>
          <!-- /ko -->
          </tbody>
        </table>
      </div>
      <div class="k-picker-panel__content k-date-range-picker__content is-right">
        <div class="k-date-range-picker__header">
          <a data-bind="click: nextYear" class="k-picker-panel__icon-btn k-date-picker__next-btn"><i
            class="fa fa-angle-double-right"></i></a>
          <a data-bind="click: nextMonth" class="k-picker-panel__icon-btn k-date-picker__next-btn"><i
            class="fa fa-angle-right"></i></a>
          <div data-bind="text: rightDate"></div>
        </div>
        <table data-bind="with: dateTable2" cellspacing="0" cellpadding="0" class="k-date-table">
          <tbody>
          <tr data-bind="foreach: { data: WEEKS, as: 'week' }">
            <th data-bind="text: week"></th>
          </tr>
          <!-- ko foreach: { data: rows, as: 'row' } -->
          <tr data-bind="foreach: { data: row, as: 'col' }" class="k-date-table__row">
            <td data-bind="css: col.clazz">
              <div>
                <span data-bind="text: col.label"></span>
              </div>
            </td>
          </tr>
          <!-- /ko -->
          </tbody>
        </table>
      </div>
    </div>
  </div><!---->
</div>
