<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="space.qmen.leaf.dao.AclassDao">
    <resultMap id="BaseResultMap" type="space.qmen.leaf.domain.Aclass">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="major_id" property="majorId" />
        <result column="description" property="description" />
        <result column="status" property="status" />
    </resultMap>

    <parameterMap id="Aclass" type="space.qmen.leaf.domain.Aclass"/>

    <sql id="Base_Column_List">
        id, name, major_id, description, status
    </sql>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from aclass
        where id = #{id}
    </select>

    <select id="findAllAclass" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from aclass
    </select>

    <insert id="saveAclass" parameterMap="Aclass" useGeneratedKeys="true" keyProperty="id">
        insert into
        aclass(id, name, major_id, description, status)
        values
        (#{id},#{name},#{majorId},#{description}, #{status})
    </insert>

    <update id="updateAclass" parameterMap="Aclass">
        update
        aclass
        set
        <if test="name!=null">
            name = #{name},
        </if>
        <if test="majorId!=null">
            major_id = #{majorId},
        </if>
        <if test="description!=null">
            description = #{description},
        </if>
        <if test="status!=null">
            status = #{status}
        </if>
        where
        id = #{id}
    </update>

    <delete id="deleteAclass" parameterType="java.lang.Long">
        delete from
        aclass
        where
        id = #{id}
    </delete>
</mapper>