<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="space.qmen.leaf.dao.MajorDao">
    <resultMap id="BaseResultMap" type="space.qmen.leaf.domain.Major">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="intro" property="intro" />
        <result column="description" property="description" />
        <result column="dept_id" property="deptId" />
        <result column="status" property="status" />
    </resultMap>

    <parameterMap id="Major" type="space.qmen.leaf.domain.Major"/>

    <sql id="Base_Column_List">
        id, name, intro, description, dept_id, status
    </sql>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from major
        where id = #{id}
    </select>

    <select id="findAllMajor" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from major
    </select>

    <insert id="saveMajor" parameterMap="Major" useGeneratedKeys="true" keyProperty="id">
        insert into
        major(id, name, intro, dept_id, description, status)
        values
        (#{id},#{name},#{intro},#{deptId}, #{description}, #{status})
    </insert>

    <update id="updateMajor" parameterMap="Major">
        update
        major
        set
        <if test="name!=null">
            name = #{name},
        </if>
        <if test="intro!=null">
            intro = #{intro},
        </if>
        <if test="description!=null">
            description = #{description},
        </if>
        <if test="deptId!=null">
            dept_id = #{deptId},
        </if>
        <if test="status!=null">
            status = #{status}
        </if>
        where
        id = #{id}
    </update>

    <delete id="deleteMajor" parameterType="java.lang.Long">
        delete from
        major
        where
        id = #{id}
    </delete>
</mapper>