<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="space.qmen.leaf.dao.PlanDao">
    <resultMap id="BaseResultMap" type="space.qmen.leaf.domain.Plan">
        <result column="id" property="id" />
        <result column="course_id" property="courseId" />
        <result column="course_name" property="courseName" />
        <result column="class_names" property="classNames" />
        <result column="tch_id" property="tchId" />
        <result column="tch_name" property="tchName" />
        <result column="tch_title" property="tchTitle" />
        <result column="stu_num" property="stuNum" />
        <result column="exam_method" property="examMethod" />
        <result column="start_stop_cycle" property="startStopCycle" />
        <result column="hours" property="hours" />
        <result column="total_hours" property="totalHours" />
        <result column="week_hours" property="weekHours" />
        <result column="credit" property="credit" />
        <result column="theoretical_hours" property="theoreticalHours" />
        <result column="experimental_hours" property="experimentalHours" />
        <result column="semester_id" property="semesterId" />
        <result column="year_id" property="yearId" />
        <result column="status" property="status" />
    </resultMap>

    <parameterMap id="Plan" type="space.qmen.leaf.domain.Plan"/>

    <sql id="Base_Column_List">
        id, course_id, course_name, class_names, tch_id, tch_name, tch_title,
        stu_num, exam_method, start_stop_cycle, hours, total_hours, week_hours,
        credit, theoretical_hours, experimental_hours, semester_id, year_id, status
    </sql>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from plan
        where id = #{id}
    </select>

    <select id="findAllPlan" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from plan
    </select>

    <insert id="savePlan" parameterMap="Plan" useGeneratedKeys="true" keyProperty="id">
        insert into
        plan(id, course_id, course_name, class_names, tch_id, tch_name, tch_title,
        stu_num, exam_method, start_stop_cycle, hours, total_hours, week_hours,
        credit, theoretical_hours, experimental_hours, semester_id, year_id, status)
        values
        (#{id},#{courseId},#{courseName},#{classNames}, #{tchId}, #{tchName},
        #{tchTitle}, #{stuNum}, #{examMethod}, #{startStopCycle}, #{hours},
        #{totalHours}, #{weekHours}, #{credit},
        #{theoreticalHours}, #{experimentalHours}, #{semesterId}, #{yearId}, #{status})
    </insert>

    <update id="updatePlan" parameterMap="Plan">
        update
        plan
        set
        <if test="courseId!=null">
            course_id = #{courseId},
        </if>
        <if test="courseName!=null">
            course_name = #{courseName},
        </if>
        <if test="classNames!=null">
            class_names = #{classNames},
        </if>
        <if test="tchId!=null">
            tch_id = #{tchId},
        </if>
        <if test="tchName!=null">
            tch_name = #{tchName},
        </if>
        <if test="tchTitle!=null">
            tch_title = #{tchTitle},
        </if>
        <if test="stuNum!=null">
            stu_num = #{stuNum},
        </if>
        <if test="examMethod!=null">
            exam_method = #{examMethod},
        </if>
        <if test="startStopCycle!=null">
            start_stop_cycle = #{startStopCycle},
        </if>
        <if test="hours!=null">
            hours = #{hours},
        </if>
        <if test="totalHours!=null">
            total_hours = #{totalHours},
        </if>
        <if test="weekHours!=null">
            week_hours = #{weekHours},
        </if>
        <if test="credit!=null">
            credit = #{credit},
        </if>
        <if test="theoreticalHours!=null">
            theoretical_hours = #{theoreticalHours},
        </if>
        <if test="experimentalHours!=null">
            experimental_hours = #{experimentalHours},
        </if>
        <if test="semesterId!=null">
            semester_id = #{semesterId},
        </if>
        <if test="yearId!=null">
            year_id = #{yearId},
        </if>
        <if test="status!=null">
            status = #{status}
        </if>
        where
        id = #{id}
    </update>

    <delete id="deletePlan" parameterType="java.lang.Long">
        delete from
        plan
        where
        id = #{id}
    </delete>
</mapper>