<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="space.qmen.leaf.dao.ResourceDao">
    <resultMap id="BaseResultMap" type="space.qmen.leaf.domain.Resource">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="pid" property="pid" />
        <result column="url" property="url" />
        <result column="intro" property="intro" />
        <result column="icon" property="icon" />
        <result column="intro" property="intro" />
        <result column="seq" property="seq" />
        <result column="type" property="type" />
        <result column="status" property="status" />
    </resultMap>

    <parameterMap id="Resource" type="space.qmen.leaf.domain.Resource"/>

    <sql id="Base_Column_List">
        id, name, pid, url, intro, icon, seq, type, status
    </sql>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from resource
        where id = #{id}
    </select>

    <select id="findAllResource" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from resource
    </select>

    <insert id="saveResource" parameterMap="Resource" useGeneratedKeys="true" keyProperty="id">
        insert into
        resource(id, name, pid, url, intro, icon, seq, type, status)
        values
        (#{id},#{name},#{pid},#{url}, #{intro},#{icon},#{seq},#{type},#{status})
    </insert>

    <update id="updateResource" parameterMap="Resource">
        update
        resource
        set
        <if test="name!=null">
            name = #{name},
        </if>
        <if test="pid!=null">
            pid = #{pid},
        </if>
        <if test="url!=null">
            url = #{url},
        </if>
        <if test="intro!=null">
            intro = #{intro},
        </if>
        <if test="icon!=null">
            icon = #{icon},
        </if>
        <if test="seq!=null">
            seq = #{seq},
        </if>
        <if test="type!=null">
            type = #{type},
        </if>
        <if test="status!=null">
            status = #{status}
        </if>
        where
        id = #{id}
    </update>

    <delete id="deleteResource" parameterType="java.lang.Long">
        delete from
        resource
        where
        id = #{id}
    </delete>
</mapper>