<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="space.qmen.leaf.dao.TaskDao">
    <resultMap id="BaseResultMap" type="space.qmen.leaf.domain.Task">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="publisher_id" property="publisherId" />
        <result column="content" property="content" />
        <result column="description" property="description" />
        <result column="begin_dt" property="beginDt" />
        <result column="end_dt" property="endDt" />
        <result column="fulfillment" property="fulfillment" />
        <result column="completed_num" property="completedNum" />
        <result column="total_num" property="totalNum" />
        <result column="status" property="status" />
    </resultMap>

    <parameterMap id="Task" type="space.qmen.leaf.domain.Task"/>

    <sql id="Base_Column_List">
        id, name, publisher_id, content, description, begin_dt, end_dt,
        fulfillment, completed_num, total_num, status
    </sql>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from task
        where id = #{id}
    </select>

    <select id="findAllTask" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from task
    </select>

    <insert id="saveTask" parameterMap="Task" useGeneratedKeys="true" keyProperty="id">
        insert into
        task(id, name, publisher_id, content, description, begin_dt, end_dt,
        fulfillment, completed_num, total_num, status)
        values
        (#{id},#{name},#{publisherId},#{content},
         #{description}, #{beginDt}, #{endDt}, #{fulfillment},
         #{completedNum}, #{totalNum}, #{status})
    </insert>

    <update id="updateTask" parameterMap="Task">
        update
        task
        set
        <if test="name!=null">
            name = #{name},
        </if>
        <if test="publisherId!=null">
            publisher_id = #{publisherId},
        </if>
        <if test="content!=null">
            content = #{content},
        </if>
        <if test="description!=null">
            description = #{description},
        </if>
        <if test="beginDt!=null">
            begin_dt = #{beginDt},
        </if>
        <if test="endDt!=null">
            end_dt = #{endDt},
        </if>
        <if test="fulfillment!=null">
            fulfillment = #{fulfillment},
        </if>
        <if test="completedNum!=null">
            completed_num = #{completedNum},
        </if>
        <if test="totalNum!=null">
            total_num = #{totalNum},
        </if>
        status = #{status}
        where
        id = #{id}
    </update>

    <delete id="deleteTask" parameterType="java.lang.Long">
        delete from
        task
        where
        id = #{id}
    </delete>
</mapper>