<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="space.qmen.leaf.dao.TaskUserDao">
    <resultMap id="BaseResultMap" type="space.qmen.leaf.domain.TaskUser">
        <result column="id" property="id" />
        <result column="task_id" property="task_id" />
        <result column="user_id" property="user_id" />
        <result column="begin_dt" property="begin_dt" />
        <result column="end_dt" property="end_dt" />
        <result column="status" property="status" />
    </resultMap>

    <parameterMap id="TaskUser" type="space.qmen.leaf.domain.TaskUser"/>

    <sql id="Base_Column_List">
        id, task_id, user_id, begin_dt, end_dt,status
    </sql>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from task_user
        where id = #{id}
    </select>

    <select id="findAllTaskUser" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from task_user
    </select>

    <insert id="saveTaskUser" parameterMap="TaskUser" useGeneratedKeys="true" keyProperty="id">
        insert into
        task_user(id, task_id, user_id, begin_dt, end_dt,status)
        values
        (#{id},#{task_id},#{user_id},#{begin_dt}, #{end_dt},#{status})
    </insert>

    <update id="updateTaskUser" parameterMap="TaskUser">
        update
        task_user
        set
        <if test="task_id!=null">
            task_id = #{task_id},
        </if>
        <if test="user_id!=null">
            user_id = #{user_id},
        </if>
        <if test="begin_dt!=null">
            begin_dt = #{begin_dt},
        </if>
        <if test="end_dt!=null">
            end_dt = #{end_dt}
        </if>
        <if test="status!=null">
            status = #{status}
        </if>
        where
        id = #{id}
    </update>

    <delete id="deleteTaskUser" parameterType="java.lang.Long">
        delete from
        task_user
        where
        id = #{id}
    </delete>
</mapper>