<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="space.qmen.leaf.dao.UserDao">
    <resultMap id="BaseResultMap" type="space.qmen.leaf.domain.User">
        <result column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="pwd" property="pwd" />
        <result column="salt" property="salt" />
        <result column="nickname" property="nickname" />
        <result column="icon" property="icon" />
        <result column="user_type" property="userType" />
        <result column="status" property="status" />
    </resultMap>

    <parameterMap id="User" type="space.qmen.leaf.domain.User"/>

    <sql id="Base_Column_List">
        id, user_id, pwd, salt, nickname, icon, user_type, status
    </sql>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from user
        where id = #{id}
    </select>

    <select id="findAllUser" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from user
    </select>

    <insert id="saveUser" parameterMap="User" useGeneratedKeys="true" keyProperty="id">
        insert into
        user(id, user_id, pwd, salt, nickname, icon, user_type, status)
        values
        (#{id},#{userId},#{pwd},#{salt}, #{nickname}, #{icon}, #{userType}, #{status})
    </insert>

    <update id="updateUser" parameterMap="User">
        update
        user
        set
        <if test="userId!=null">
            user_id = #{userId},
        </if>
        <if test="pwd!=null">
            pwd = #{pwd},
        </if>
        <if test="salt!=null">
            salt= #{salt},
        </if>
        <if test="salt!=null">
            nickname= #{nickname},
        </if>
        <if test="icon!=null">
            icon= #{icon},
        </if>
        <if test="userType!=null">
            user_type= #{userType},
        </if>
        status = #{status}
        where
        id = #{id}
    </update>

    <delete id="deleteUser" parameterType="java.lang.Long">
        delete from
        user
        where
        id = #{id}
    </delete>
</mapper>